[2012-10-03 05:41] netojoaobatista opened #1 "Registro de dominio para a aplicação"
Criação do domínio ophportunidades.com.br e ophportunidades.org.br

[2012-10-03 05:55] augustohp commented on #1
Registrados, to na seguinte pendência do registro.br: `Checando documento junto a SRF`

[2012-10-03 06:02] augustohp commented on #1
Caso não role, a gente pode usar algum outro domínio, seria bacana já ter um plano de fallback, não seria?
O pagodabox fornece um que a gente pode usar, o azure também, a amazon também.
Se pegarmos uma _short url_ que possa ser editada, resolvemos o problema... porque podemos divulgar só ela, o que acham?

[2012-10-03 06:07] augustohp opened #2 "Labels do projeto"
Caros, seria útil que as labels representassem o status do ticket, tenho algumas idéias mas não me apaixonei muito por nenhuma label em especial:
- **dev**: pronto pra desenvolver
- **bug**
- **feature**: Quando alguém quiser alguma feature, precisa de feedback do PO ou do time.
- **dúvida**: Quando alguém tiver alguma dúvida, Será que esse cara é realmente necessário?
- **in development**: tem um

[2012-10-03 06:09] henriquemoody commented on #2
Talvez fosse melhor este tópico estar na wiki, ao invés de ser uma task do Github.

[2012-10-03 06:09] augustohp opened #3 "Onde faremos deploy?"
Temos que ter o deploy em algum lugar, temos algumas alternativas:
- Pagodabox
- PHPFog
- Azure
- Amazon

O que preferem?

[2012-10-03 06:10] augustohp commented on #2
Mas a gente precisa primeiro definir as labels... depois de definido a gente pode jogar as definições no wiki. O que acha @henriquemoody ?

[2012-10-03 06:11] netojoaobatista commented on #2
Concordo contigo @augustohp, primeiro definimos, depois publicamos no wiki.

[2012-10-03 06:13] netojoaobatista commented on #3
Fico entre Pagodabox ou Amazon.

[2012-10-03 06:13] augustohp opened #4 "Definir Product Owner"
No hangout da _scrum meeting_ definimos o @iannsp , no fim acho que essa issua é mais pra formalizar isso. Todos de acordo?

PS: sim, sabemos que ele é gordo.
PPS: sim, sabemos que ele fará várias gordisses.

[2012-10-03 06:15] augustohp commented on #3
Eu posso tentar configurar um deploy no Azure via Git também, podemos ter deploys em mais de um lugar....
O **Pagodabox** com um Boxfile e um push, resolvemos o problema e o funcionamento no Azure é bem parecido. =D
Na amazon eu já não sei se rola um _continuous deployment_, mas acho que é interessante nos mantermos só em ferramentas que forneçam essa opção, pelo menos para o hangout.

[2012-10-03 06:15] netojoaobatista commented on #4
O @iannsp tem até quinta para entrar na "medida certa".

[2012-10-03 06:16] henriquemoody commented on #2
Concordo. Com relação aos labels, acho melhor utilizarmos termos que geralmente são utilizados

_Status_
- **pendente**: precisa de feedback do Product Owner/Cliente
- **aberto**: pronto pra desenvolver
- **em andamento**: tem um time (pair) trabalhando nisso agora

_Tipo_
- **bug**: Quando encontrarmos algum bug
- **feature**: Quando alguém quiser alguma feature
- **dúvida**: Quando alguém tiver

[2012-10-03 06:20] henriquemoody commented on #3
Eu nunca usei o Pagodabox, no entanto creio que seja melhor para o nosso hangout, visto que na Amazon, pelo menos teremos que fazer tudo na mão....

[2012-10-03 06:21] henriquemoody commented on #4
+1 @iannsp

[2012-10-03 06:23] augustohp commented on #4
+1 pra medida certa!

[2012-10-03 06:24] augustohp commented on #3
Meu único medo com o _Pagodabox_ é a conta free dele aguentar o número de acesso durante o hangout =(
Por isso eu utilizaria mais de um...

[2012-10-03 06:26] netojoaobatista commented on #2
Precisamos de um label para "não aceito".

_Status_
- **pendente**: precisa de feedback do Product Owner/Cliente
- **aberto**: pronto pra desenvolver
- **não aceito**: o PO achou que não deve ser desenvolvido nesse instante
- **em andamento**: tem um time (pair) trabalhando nisso agora

_Tipo_
- **bug**: Quando encontrarmos algum bug
- **feature**: Quando alguém quiser alguma feature
- **dúvida**:

[2012-10-03 06:26] henriquemoody commented on #3
A Amazon nesse caso seria mais interessante.
O problema seria o _continuous deployment_...

[2012-10-03 06:27] iannsp commented on #3
+1 pagodabox
justifico isso por ter membros no time que ja tem conhecimento do processo de deploy la, inclusive do arquivo de detalhes de configuração.

[2012-10-03 06:27] henriquemoody commented on #2
Eu concordo @netojoaobatista.

[2012-10-03 06:28] iannsp commented on #2
cade o backlog? minha querida lista de desejos futuros ;)

[2012-10-03 06:30] henriquemoody commented on #2
Neste caso o **não aceito** seria substituído pelo **backlog** ou teríamos os dois?

[2012-10-03 06:32] netojoaobatista commented on #2
Acho que devemos ter os dois.

Teremos o backlog do produto e o backlog dos sprints, mas após o hangout, o projeto terá vida própria. Nesse sentido, o **não aceito** será importante.

[2012-10-03 06:34] augustohp commented on #1
**ophprtunidades.org.br** aguardando verificação de CNPJ.
**ophportunidade.com.br** e **ophportunidades.com.br** registrados com sucesso.

Vou criar uma máquina/app no serviço de deploy escolhido na _issue_ #3 e redirecionar o domínio pra URL dada pelo serviço.

[2012-10-03 06:37] augustohp commented on #2
Um sprint pode ser uma **milestone**, podemos ter uma _milestone_ de backlog. Isso torna as labels `aberto` e `em andamento` desnecessárias.

Acho importante também especificar de quem é necessário o **feedback**: cliente ou time (po).
Fora isso, concordo com as labels definidas até então. =D

[2012-10-03 06:37] henriquemoody commented on #2
Resumindo:

**Status**
- **pendente**: precisa de feedback do Product Owner/Cliente;
- **aberto**: pronto pra desenvolver;
- **backlog**: lista de desejos futuros;
- **em andamento**: tem um time (pair) trabalhando nisso agora;
- **não aceito**: o PO achou que não deve ser desenvolvido nesse instante.

**Tipo**
- **bug**: Quando encontrarmos algum bug;
- **feature**: Quando alguém quiser alguma fe

[2012-10-03 06:38] henriquemoody commented on #2
@augustohp, você pode fazer um resumo do seu _proposal_, como o que eu fiz acima?

[2012-10-03 06:39] augustohp opened #5 "README.md"
Nosso projeto precisa urgente de um README lindão usando **Markdown** descrevendo o que faremos ou o que dissemos até agora no vídeo.

Links para os outros hangouts, posts ou tudo mais também seriam interessantes.
Pra não sujar o controle de versão, vamos definir o que queremos no README?

[2012-10-03 06:44] augustohp commented on #2
Podemos usar as milestones pra gerir o backlog, podemos ter mais de uma milestone de backlog e ir movendo as _issues_ de uma milestone pra outra.

Acho no fim, que cada milestone será um sprint, já criamos a milestone do primeiro sprint e uma milestone de backlog.
As que precisam de contato do po ou do cliente, ficam sem milestone, assim que tiverem alguma definição o PO pode criar uma milestone p

[2012-10-03 06:46] augustohp opened #6 "Hashtag social"
Acho bacana definirmos uma #hashtag pra utilizarmos no twitter e em outros serviços social pra identificar as discussnoes sociais do hangout. Acho que ganharemos bastante no tracking futuro do projeto.

[2012-10-03 06:52] henriquemoody commented on #6
+1 #devtalk

[2012-10-03 06:54] augustohp commented on #6
#devtalk é muito global, a gente vai te muito noise no meio das pesquisas. Acho que algo único seria mais bacana.

[2012-10-03 06:55] henriquemoody commented on #2
Ok, o que podemos adotar como _todo_ e _doing_ pode ser o próprio assign da _issue_.

[2012-10-03 06:56] henriquemoody commented on #6
#hangoutdephpsobretestes

[2012-10-03 08:29] caferrari opened #7 "Login via Linkedin"
Considerando a importância que o Linkedin vem tendo, principalmente na nossa área, ter uma conta lá é essencial, por isso acho mais do que interessante ser obrigatório o Login via a API deles.

http://developer.linkedin.com/documents/sign-linkedin

[2012-10-03 08:30] caferrari commented on #4
+1

[2012-10-03 09:55] rdohms commented on #3
Se eu puder dar a dica.

O limite free destes serviços é bem baixo.
Voces podem conversar com a ServerGrove eles estão sempre dispostos a ajudar. Ou a Microsoft.

Capistrano pra continuos deployment fecha redondo.

[2012-10-03 10:35] lcobucci commented on #7
O ideal seria logar via N redes sociais (fb, twitter, ...)

[2012-10-03 10:41] lcobucci commented on #6
Dá pra usar algo como #phpAoVivo ou (#phpLiveCoding|#phpLive) (pra quem gosta de falá ingreis)

[2012-10-03 10:52] caferrari commented on #7
Não concordo, é um site profissional, se fosse um site de entretenimento tudo bem, mas não é o foco. Estou partindo do pressuposto de que um "desenvolvedor" sem linkedin não está a fim de entrar no mercado ou sequer de trabalhar. É quase um medico querendo ser medico sem um CRM.

[2012-10-03 10:53] lcobucci commented on #7
Então o ideal seria logar via github, que é onde dá pra falar que o cara é realmente um dev.

[2012-10-03 11:11] robsonpeixoto commented on #7
Concordo com @caferrari, mas eu também incluiria o Google.

Caso seja aprovado as 3 redes social, eu acho que a gente tem que quebrar em 3 tarefas.

[2012-10-03 11:17] RuanAragao commented on #7
Nesse caso, acho importante o incluir o Google também, como @robsonpeixoto comentou.

[2012-10-03 11:19] RuanAragao commented on #6
#ophportunidades, uma hashtag que conta a vida do produto, desde o inicio do desenvolvimento até a utilização do mesmo =D.

[2012-10-03 11:38] kinncj commented on #3
Azure +1
O Serviço tem se mostrado bacana pra mim.

[2012-10-03 11:42] kinncj opened #8 "Git branching model"
Qual será adotado ?

Sugestão:
- branches:
  - dev
    - feature
    - release
  - master
    - release

[2012-10-03 11:44] kinncj commented on #7
não acho interessante login obrigatório apenas por linkedin... podemos ter autenticação do Linkedin, github e google e permitir no perfil ainda colocar o user do stackoverflow ou outros

[2012-10-03 11:47] kinncj commented on #5
- Sobre o projeto
- Como postar oportunidades
  - Links para a wiki
- Como contribuir
  - Links para a wiki
- Donate button :p

[2012-10-03 11:51] kinncj commented on #8
podemos ainda ter um flow só para oportunidades ?

[2012-10-03 11:51] RuanAragao commented on #7
Boa observação @kinncj, eu não tinha focado direito na citação de obrigatoriedade, isso chegaria a ser absurdo. Alternativa sim, agora obrigatoriedade não seria algo bom.

[2012-10-03 11:53] deyvisonrocha commented on #1
Muito bom! Parabéns pela iniciativa!

[2012-10-03 11:59] drgomesp commented on #8
[Gitflow](https://github.com/nvie/gitflow), please

[2012-10-03 12:00] drgomesp commented on #7
Acho que deveria ter login via Facebook, mano.

Facebook já deixou de ser uma rede de entretenimento, como falado anteriormente, há muito tempo...

[2012-10-03 12:01] robsonpeixoto opened #9 "Associar o perfil as redes sociais"
[Idéia de @kinncj]

O profissional poderá associar seu perfil aos perfis das redes sociais, como por exemplo:

1 - github
2 - LinkedIn
3 - Gitorious
4 - BitBucket

Mais algum?

[2012-10-03 12:01] drgomesp commented on #3
AWS Amazon, pelo amor de Deus!

Usamos o Lean para o deployment com capistrano, ou até a própria ferramenta da AWS, chamada Beanstalk.

[2012-10-03 12:02] robsonpeixoto commented on #7
@kinncj , eu criei uma tarefa #9 com a tua sugestão.

[2012-10-03 12:03] robsonpeixoto commented on #5
Colocar o canal do IRC onde acontece o bate papo.

[2012-10-03 12:08] drgomesp commented on #5
Informações a respeito dos hangouts, horários e página do iMasters no Google+.

[2012-10-03 12:27] drgomesp opened #10 "Padronização de ambiente dev com Vagrant"
Pessoal, acho interessante utilizarmos o [Vagrant](http://vagrantup.com/) para padronizar o ambiente de desenvolvimento e, eventualmente, o de staging e produção.

Dessa forma, basta criarmos uma VM padrão, com as versões do PHP, MySQL e qualquer outra ferramenta que formos utilizar.

Assim, mantemos um Vagrantfile no repositório, com as configurações de setup automáticas com Chef ou Puppet, para

[2012-10-03 12:37] netojoaobatista commented on #6
#jamaica

[2012-10-03 12:40] netojoaobatista commented on #7
Talvez para um segundo milestone seja muito legal, não apenas 1, mas permitir login com vários serviços.

Mas não vejo esse recurso como **essencial** nessa primeira versão.

[2012-10-03 12:41] lcobucci commented on #7
Verdade @netojoaobatista

[2012-10-03 12:55] lcobucci opened #11 "Cadastro de oportunidade"
Após autenticado, o usuário poderá registrar novas oportunidades para que sejam listadas no sistema.
Essencialmente as oportunidades deverão ter título e descrição.

[2012-10-03 13:23] kinncj commented on #7
Poderia ter botão de like para comentários das issues do github haha

[2012-10-03 13:24] kinncj commented on #9
Masterbranch, stackoverflow, tem N cara kkk

[2012-10-03 13:26] kinncj commented on #8
@drgomesp +1
Estamos utilizando aqui, e definindo um branching model não necessáriamente precisamos usar a ferramenta git-flow, ela fica opcional.

e ainda acredito em um fluxo para conteúdo (ou um branch para atualização/postagem de conteúdo)

[2012-10-03 13:35] netojoaobatista commented on #11
Além do título e descrição, é fundamental que as oportunidades contenham:
1. Título
2. Descrição
3. Local da oportunidade (cidade, etc)
4. Formato do trabalho (in company|home office)
5. Tipo da oportunidade (freela|full time)
6. Tipo de contrato (PJ|CLT)
7. Skils necessárias
8. Faixa salarial

Sim, é possível colocar todas essas informações na descrição, mas se tivermos a separação para local, ti

[2012-10-03 13:38] lcobucci commented on #11
Claro, por isso o essencialmente hauihaiua coloquei apenas titulo e descrição para que a gente possa burilar e ver o que é REALMENTE necessário na primeira versão da brincadeira.

[2012-10-03 13:52] hussani commented on #7
Acho importante, ainda que futuramente, ter login com multiplos providers.
No nosso caso acho o login com Github mais importante do que login com LinkedIn.

[2012-10-03 13:57] netojoaobatista commented on #7
Pensando em uma versão futura, dois serviços que acho fundamentais que tenhamos integração:
1. Github
2. Linked-in

**Github** pois, como é um projeto voltado para devs, nada melhor projetos em que o usuário colabora, para saber mais sobre ele.

**Linked-in** pois, como é um projeto voltado para oportunidades de trabalho, nada melhor que uma outra rede focada nisso.

[2012-10-03 13:58] alganet commented on #4
+1 cheguei agora

[2012-10-03 14:00] #9 closed, assigned to nobody

[2012-10-03 14:03] drgomesp commented on #4
+1

[2012-10-03 14:04] netojoaobatista commented on #4
Bom, acho que fechou, né?

@iannsp é nosso PO

[2012-10-03 14:05] drgomesp commented on #8
@kinncj o gitflow é baseado [neste branching model](http://nvie.com/posts/a-successful-git-branching-model/).

Sugiro utilizarmos, nem que seja o conceito.

[2012-10-03 14:16] kinncj commented on #8
@drgomesp Sim, já entendi o ponto e inclusive disse que o utilizo, mas tem mais N coisas para definir, bem como a convenção de nomes dos branches, se vamos utilizar o support, hotfix e etc... não apenas escolher sem definir.

e novamente: acredito em um fluxo para conteúdo (ou um branch para atualização/postagem de conteúdo)

[2012-10-03 14:43] iannsp commented on #10
muito boa a ideia.
precisamos só de um candidato para realiza-la. ;)

[2012-10-03 14:45] drgomesp commented on #10
Me disponho a fazê-lo, sem problema algum.

Só precisamos definir as configurações do ambiente.

[2012-10-03 14:49] iannsp commented on #11
vejo isso sendo muito simples agora.
os campos estao abordando tudo que precisa, ao que me parece.
o maximo de campos definidos como opções a serem selecionadas é o melhor caminho(IMHO)
a faixa salarial eu indicaria utilizar num futuro algo como um slider, mas agora penso nela como duas informacoes... dois campos como o de...ate

[2012-10-03 14:51] iannsp commented on #7
como o @netojoaobatista comentou, precisamos reduzir o escopo desse primeiro sprint, afinal, o tempo é reduzido.
precisamos escolher uma rede social de longo alcance, onde estejam tanto os headhunters quanto os desenvolvedores e que as pessoas estejam conectadas a maior parte do tempo para que seja o maximo transparente o acesso.
Dou um doce pra quem advinhar em que rede estou pensando para essa p

[2012-10-03 14:53] iannsp commented on #4
fico lisonjeado :)
saibam que no meu mandato nao vai haver fome e buscaremos a paz mundial. kkkk
- "caveira meu capitão."
- "entao senta o dedo!!!"

[2012-10-03 14:53] #4 closed, assigned to nobody

[2012-10-03 14:55] iannsp commented on #8
o importante é ter padrão.
imagino que os votos para o gitflow vao ser unanimes mesmo.
dai, é sentar e ver como vai ser ele dentro da situação de stress que vai ser a coisa toda funcionando live, remote, com interações da galera, com narração do galvão bueno e cheer leaders.

[2012-10-03 14:56] hussani commented on #10
Acho que precisamos fazer um levantamento de qual seria a melhor configuração para todos.

Começando por alguns pontos chaves:
- Sistema Operacional
- Versão do PHP
- Versão do MySQL

Eu voto por Ubuntu 12.04, PHP 5.3.1x e MySQL 5.5.

Outras sugestões?

[2012-10-03 14:56] lcobucci commented on #7
kkkk doce é? Twitter ou facebook

[2012-10-03 14:58] netojoaobatista commented on #7
@iannsp, penso que nessa primeira entrega não deveríamos ter integração com nenhuma rede social. Acho melhor focar em uma identificação e autenticação simples, feita dentro da própria app, do que lidar com esse tipo de integração na primeira entrega.

Digo isso porque acredito, veementemente, que se envolvermos essa integração agora, não conseguiremos entregar o produto no prazo.

[2012-10-03 15:00] hussani commented on #7
como o @netojoaobatista comentou acho que isso pode ficar pra proxima sprint.
O que nós precisamos é de uma autenticação que possa ser desenvolvida rapidamente.

[2012-10-03 15:04] netojoaobatista commented on #10
Odeio Ubunto e qualquer Debian like, prefiro Fedora.

Sobre o PHP e MySQL, concordo com ambos @hussani.

[2012-10-03 15:07] netojoaobatista commented on #2
Ok!

[2012-10-03 15:40] drgomesp commented on #10
Eu recomendo o CentOS pra sistema operacional.

O resto é variável por mim. (PHP prefiro o 5.4)

[2012-10-03 15:44] alexsandro-xpt commented on #10
Show isto, qualquer um pode ter acesso a uma copia deste VM?

[2012-10-03 15:47] netojoaobatista commented on #10
CentOS é bacana também.

[2012-10-03 15:51] alexsandro-xpt commented on #3
Afinal, onde vai ser?

[2012-10-03 15:54] alexsandro-xpt commented on #2
Ficou bom!

[2012-10-03 15:58] alganet commented on #7
Pensando bem, acho que o primeiro sprint nem precisaria de autenticação. Ainda não faremos nada com os dados de quem tá autenticado e certamente reduzir o escopo pra conseguir entregar algo funcionando durante o Hangout seria maneiro. Que acham?

[2012-10-03 15:59] netojoaobatista commented on #7
+1 @alganet

[2012-10-03 15:59] wesleyvicthor commented on #7
Concordo com o @netojoaobatista. Não vai rolar essas autenticações agora.

Vamos ser simples. Estava conversando com o @alganet e ele sugeriu algumas opções, uma delas é:
Vamos centralizar a autenticação em algo básico, email. Tem algo mais básico que ao cadastrar uma oportunidade o mesmo que cadastrou confirme a mesma através de seu email? Com isso ja conseguiriamos limitar cadastro de oportunida

[2012-10-03 16:03] henriquemoody commented on #2
@wesleyvicthor, @alganet, @iannsp Precisamos do seus votos para fechar essa issue.

[2012-10-03 16:04] wesleyvicthor commented on #8
Acho que deveriamos focar na entrega do produto, features, qualidade/arquitetura, TESTES que é o foco desse hangout, e não encher de ferramentas para um desenvolvimento inicial de 4 horas, essas ferramentas poderão vir conforme o crescimento do projeto e a cooperação dos "clientes".

[2012-10-03 16:04] hussani commented on #10
@alexsandro-xpt a ideia é que todos os que desenvolvam tenham acesso a VM.
Produzindo no mesmo ambiente não teremos problemas de compatibilidade.

[2012-10-03 16:05] netojoaobatista commented on #10
Bom, como o @drgomesp se prontificou a criar as VMs, podemos fechar assim:

CentOS, por ser mais _server_ que outras distros, como Ubuntu e Fedora.

Sobre o PHP e MySQL, instalamos as últimas estáveis do CentOS.

Fechamos?

[2012-10-03 16:05] wesleyvicthor commented on #2
ok

[2012-10-03 16:06] suissa commented on #10
ótima ideia!

[2012-10-03 16:07] netojoaobatista commented on #7
Perfeito @wesleyvicthor e @alganet, podemos fechar a questão de identificação dessa forma.
- Identificação por email e autenticação por senha para cadastro de oportunidades
- Sem necessidade de identificação/autenticação para listar as oportunidades.

[2012-10-03 16:08] henriquemoody commented on #6
Concordo com o @RuanAragao

+1 #ophportunidades

[2012-10-03 16:11] iannsp commented on #10
@drgomesp @netojoaobatista e galera.
pra mim, fechadissimo.
vamos nessa.

[2012-10-03 16:11] #10 closed, assigned to nobody

[2012-10-03 16:13] netojoaobatista commented on #6
Por mim, fechado em #ophportunidades

[2012-10-03 16:14] iannsp commented on #6
acho que nao temos nem como dar continuidade na discussão hahaha
a hashtag vai sim, ser o nome do produto mesmo.
pra mim, fechado.

[2012-10-03 16:14] #6 closed, assigned to nobody

[2012-10-03 16:14] henriquemoody commented on #7
Pra mim faz sentido @netojoaobatista, o único problema é termos que guardar senha para a identificação por email.
Acredito que seja melhor implementarmos OAuth mesmo no primeiro entregável.

[2012-10-03 16:16] drgomesp commented on #2
Tem como deixar em inglês?

[2012-10-03 16:17] drgomesp commented on #8
+1 @wesleyvicthor

[2012-10-03 16:17] wesleyvicthor commented on #7
@henriquemoody pra que senha ?
E você acha mais simples implementar um oauth ao invés de um login email/senha?

Não vejo a necessidade de senha. apenas de email.

Caso seja o primeiro cadastro de oportunidade o usuário confirma o cadastro por email, uma vez confirmado aquele email pode cadastrar oportunidades(com um limite ou não...)

[2012-10-03 16:17] suissa commented on #8
+1 @wesleyvicthor

[2012-10-03 16:17] henriquemoody commented on #8
+1 @wesleyvicthor

[2012-10-03 16:19] suissa opened #12 "Compartilhar oportunidade"
Não sei se isso deveria ser uma issue mas é bom deixar anotado. Seria interessante o sistema ser integrado com as redes sociais para compartilhar alguma oportundiade que vc viu com um amigo seu.

Inicialmente creio que apenas o ShareThis resolve.

[2012-10-03 16:20] henriquemoody commented on #2
@drgomesp até prefiro, mas como tudo isso é voltado para a comunidade PHP do Brasil acho que inconscientemente decidimos fazer o máximo possível em português.

[2012-10-03 16:20] netojoaobatista commented on #7
Sei lá @henriquemoody, acho mais barato trabalharmos com email e senha, do que implementar um client OAuth.

Mesmo que ainda não tenhamos [Password Hashing](https://wiki.php.net/rfc/password_hash) no PHP, acho que simplificamos as coisas com um SHA-2 para a senha.

@wesleyvicthor, acho a senha importante para não haver problemas com "trolls". Se não for necessário uma senha, qualquer pessoa poderá

[2012-10-03 16:20] henriquemoody commented on #12
Ótimo para o próximo milestone, @suissa =]

[2012-10-03 16:21] suissa commented on #11
Acho interessante criar uma padronização nessas skills, por exemplo deixar um campo para o cliente ir adicionando a skill e ela autocompletar ou sugerir a palavra, para deixar os nomes mais homogeneos. Ficaria mais facil para buscar por tags/skills

[2012-10-03 16:22] suissa opened #13 "Login com Github"
Seria interessante que o Desenvolvedor pudesse logar com o github para montarmos um perfil do Desenvolvedor mais condizente com o que ele possui de projetos.

[2012-10-03 16:22] netojoaobatista commented on #2
Concordo contigo @henriquemoody, tudo está sendo feito em português. Os hangouts, os comentários nas Issues, nome do projeto é .br, etc.

[2012-10-03 16:22] henriquemoody commented on #7
Concoro @netojoaobatista um ponto importante, _http basic_, certo?

[2012-10-03 16:23] henriquemoody commented on #13
O masterbranch faz isso muito bem, não sei se seria o caso @suissa

[2012-10-03 16:23] henriquemoody commented on #11
Concordo com @suissa

Mas isso é uma questão de modelagem.

[2012-10-03 16:24] netojoaobatista commented on #13
Duplicado => #7

Vamos manter temas iguais em uma única Issue, senão vamos nos perder.

[2012-10-03 16:24] #13 closed, assigned to nobody

[2012-10-03 16:25] suissa commented on #13
Opa desculpa não li que ja tinha essa issue, sorry!

[2012-10-03 16:26] netojoaobatista commented on #7
Concordo @henriquemoody, nessa primeira versão, HTTP Basic resolve o problema.

[2012-10-03 16:27] suissa commented on #7
Também acho a ideia de logar com Github e Linkedin show de bola. Mas realmente é melhor para os próximos sprints. Creio que nesse sprint deva ser tratado apenas a Oportunidade em si.

[2012-10-03 16:28] alganet commented on #7
Pô, a gente não precisa de senha agora. Seria bacana ter, mas não precisa.

Nosso Minimum Viable Product é um formulário para novas oportunidades e uma lista com todas elas listadas em ordem cronológica decrescente. As pessoas vão ao Facebook postar freelas porque querem isso. Pra isso, ninguém precisa se autenticar pra nada.

Podemos tentar prever alguns problemas com esse MVP, como flood de vaga

[2012-10-03 16:30] netojoaobatista commented on #11
Essa questão das skills é um tanto problemático: Se tentarmos fixar as skills, não conseguiremos ter todas cadastradas.

Penso que podemos ir fazendo um "cadastro on-the-fly":
1. Os primeiros usuários poderão adicionar qualquer coisa.
2. Conforme formos tendo skills, vamos fazendo sugestões conforme o cara for digitando.
3. Se o que ele digitou ainda não estiver cadastrado, fazemos a adição na bas

[2012-10-03 16:31] henriquemoody commented on #7
@alganet Não publicar parte desse código ao meu ver foge de todo o propósito, daí a necessidade de autenticação.

[2012-10-03 16:31] wesleyvicthor commented on #7
Alguém mais insiste na senha ?

[2012-10-03 16:35] drgomesp opened #14 "Criação do Vagrantfile com as configurações para a VM de desenvolvimento"
Deverá ser criado o Vagrantfile necessário para subir uma VM com as seguintes configurações:
- CentOS
- PHP (stable)
- MySQL (stable)
- Apache2

Será utilizado o Puppet para a definição das configurações.

PS: Falta decidir os vhosts que serão utilizados, caso necessário.

[2012-10-03 16:35] netojoaobatista commented on #7
Meu ponto de vista para essa primeira versão:
- **Sim** para identificação com email e autenticação com senha.
- **Não** para OAuth e integração com outros serviços.

[2012-10-03 16:36] henriquemoody commented on #7
+1 @netojoaobatista

[2012-10-03 16:36] netojoaobatista commented on #12
+1 para próximos milestones

[2012-10-03 16:43] alganet commented on #7
@henriquemoody publicar é um objetivo do hangout, claro que iremos fazer isso. Publicar o código também é inevitável, já que trabalharemos remotamente.

O que eu dizia é que teremos 4h de hangout, e podemos fazer um sprint menor pra pegar o jeito, e assim que tivermos pego o jeito e feito a primeira entrega, talvez ainda sobre um tempo nessas 4h pra fazer um segundo sprint que melhora o projeto in

[2012-10-03 16:44] netojoaobatista commented on #14
Project Root: `/var/www/html/oportunidades`
Document Root: `/var/www/html/oportunidades/public`

/etc/hosts

[code]

/etc/httpd/conf.d/ophportunidades.conf

[code]

[2012-10-03 16:46] netojoaobatista commented on #7
Penso que OAuth deve sempre ser uma **opção**, não um requisito. Dessa forma, sempre teremos os dois tipos de autenticação.

btw, nada que um Decorator não resolva no futuro, quando tivermos que lidar com os dois modos de autenticação.

[2012-10-03 16:51] alganet commented on #11
Os campos separados são só pra filtrar as vagas?

[2012-10-03 16:53] netojoaobatista commented on #11
Sim @alganet, mas esse filtro não existirá agora. Só em uma futura versão.

[2012-10-03 16:54] henriquemoody commented on #2
Meu único adendo foi criar um label para "tarefa"

[2012-10-03 16:54] #2 closed, assigned to henriquemoody

[2012-10-03 16:55] alganet commented on #7
@netojoaobatista a parte de código tranquilo, confio que todo mundo aqui conseguiria implementar autenticação múltipla.

Minha principal preocupação é se os nossos usuários realmente precisam de autenticação pra essa primeira versão, e se o esforço de implementá-la agora traria algum valor (ou algum incômodo) pro usuário.

[2012-10-03 16:56] lcobucci commented on #7
A ideia do @alganet é bacana, assim quem posta não precisa se preocupar com autenticação (só gera uma tarefa a mais no fluxo de cadastro da proposta).

[2012-10-03 16:58] lcobucci opened #15 "Lista de oportunidades"
Exibição das oportunidades cadastradas no sistema em ordem cronológica de cadastro (decrescente).

[2012-10-03 16:59] alganet commented on #11
Pô, bacana! Acho que eu até arriscaria uma arquitetura de filtros baseada em folksonomia (tags) sugeridas a partir de um grande campo de texto puro, assim o cara que preparou um TXT com a descrição da vaga pra colar na apinfo e similares não precisaria ficar reformatando e cortando os pedaços pra incluir nos campos separados.

[2012-10-03 16:59] lcobucci commented on #15
A partir do email do cadastrante dá pra exibir o avatar registrado no gravatar de forma bem simples (só para termos uma UI bacana).

[2012-10-03 16:59] wesleyvicthor commented on #7
Só queria saber em que a senha iria agregar agora.

[2012-10-03 17:00] alganet commented on #15
Gravatar +1 (awesome ideia!)

[2012-10-03 17:03] netojoaobatista commented on #7
Okay @alganet, podemos fazer o seguinte:
- Não é necessário nem autenticação, nem autorização para usuários postarem vagas.
- O usuário é obrigado a informar o email dele.
- Não publicamos o email do usuário, nem qualquer coisa que o relacione com a oferta de vaga.

Implementamos a ferramenta de forma simples e deixamos questões de identificação, autenticação e autorização para um segundo mileston

[2012-10-03 17:05] netojoaobatista commented on #11
Tenho medo de pesquisas full text.

[2012-10-03 17:07] netojoaobatista commented on #15
Gravatar é SHOW, contudo, penso que deve vir apenas em um próximo milestone. Como não vamos requerer autenticação para postagem de ofertas, qualquer usuário poderá se passar por qualquer outro usuário, basta informar um email qualquer.

Acho que não devemos ter qualquer tipo de identificação do usuário nesse primeiro milestone, sob risco de fakes virem a trollar com a ferramenta.

[2012-10-03 17:17] henriquemoody commented on #7
+1

[2012-10-03 17:18] iannsp opened #16 "opniao sobre as empresas"
seria legal poder votar, no esquema de 1-5 em algumas caracteristicas da empresa como inovadora, proativa, qualidade dos relacionamentos, incentivo a atualização profissional, plano de carreira e eoutras.

[2012-10-03 17:21] augustohp commented on #3
Eu conheço os sistemas de deploy da maioria das clouds, até as não PHP... mas da Amazon eu nunca usei. Conheço o Capistrano de nome e tal, mas nunca usei. Não acho que seja impedimento, mas quanto menos coisa usarmos e mais simples deixarmos, melhor.

Vou tentar falar com o pessoal da Microsoft e da Servergroove ainda hoje e ver se temos uma resposta. Temos hoje e amanhã ainda. Realmente me preocu

[2012-10-03 17:22] iannsp opened #17 "locomoção"
Uma das grandes dificuldades dos tempos atuais é a locomoção.
seria legal se pudessemos tambem apresentar esse detalhe, talvez com linhas de onibus, tempo de carro, transito e outras coisas que são importantes para a maioria dos profissionais na hora de decidir por um emprego, afinal, vai se deslocar todos os dias para aquela area.

[2012-10-03 17:22] augustohp commented on #10
Concordo, eu não ligo pro SO desde que a ISO não seja monstruosa.
porque a _issue_ foi fechada se o entregável dela é justamente um `vagrantfile` e ele ainda ñao existe no repositório?

Acho que essa task poderia ser feita tranquilamente antes do hangout. @drgomesp, você consegue preparar esse arquivo ainda hoje e fazer um pull request?

[2012-10-03 17:25] netojoaobatista commented on #17
A questão da locomoção é facilmente resolvida com o endereço da empresa. Não precisamos criar o recurso, se o endereço for informado, fazemos um link para o Google Maps e o cara pesquisa o que quiser pesquisar, como transporte público, proximidade com outros lugares, etc.

[2012-10-03 17:25] iannsp commented on #17
imagino que sim mesmo, so estou levantando a necessidade e seus detalhes.

[2012-10-03 17:27] kinncj commented on #3
Em ultimo caso eu posso abrir espaço no meu Linode.

Mas eu curto o Azure... ja tive problemas com o free tier do EC2... estourei o limite de transferencias e tive que pagar 100doletas em 1 mes... joguei um proxy no EC2 para 18 usuarios aqui no trampo (eu disse 18 apenas), que por sinal são frenéticos por facebook, e me ferrei.. né não @suissa ?

[2012-10-03 17:29] netojoaobatista commented on #10
@augustohp, uma nova foi aberta: #14, focada no entregável. Acho que essa aqui foi fechada por se tratar de uma discussão sobre "ser ou não ser". Uma vez decidido, a #14 foi aberta para que a discussão seja mais focada no entregável, e não mais em outras possibilidades.

[2012-10-03 17:41] alexsandro-xpt commented on #8
+1 @wesleyvicthor

[2012-10-03 17:45] alexsandro-xpt commented on #3
@augustohp To vendo vocês falarem de conta free, o Azure tem um período 3 meses free: http://www.windowsazure.com/en-us/pricing/free-trial/

[2012-10-03 17:53] alganet commented on #11
Opa, não é busca full text =) É sugerir tags pra montar uma folksonomia (similar a um tesauro ou taxonomia). É essencialmente extrair palavras relevantes do texto puro que o cara colocar e sugerí-las como tags (permitindo que o cara acrescente outras, se quiser). Mas é só uma idéia, precisamos ver com os usuários o que é melhor e tal.

[2012-10-03 17:56] kinncj commented on #8
@wesleyvicthor não precisamos da ferramenta, apenas de um workflow :)
+1

[2012-10-03 18:00] netojoaobatista commented on #8
Okay pessoal, fechamos em _não usar ferramenta_ e, em vez disso, **usar apenas um workflow**.

Dessa forma, voltamos para o primeiro comentário: "Qual será adotado ?" e, nesse caso, concordo com a sugestão do @kinncj

[2012-10-03 18:27] henriquemoody commented on #8
+1

[2012-10-03 18:28] henriquemoody commented on #17
Coloquei no backlog, imagino que isso seja interessante para um próximo sprint

[2012-10-03 18:45] suissa commented on #11
Boa @alganet curti hein! Pois tendo essa arquitetura no futuro quando o cara logar com Linkedin e vc pegar o perfil dele poderá sugerir essas tags daquele texto completo.

[2012-10-03 18:45] suissa commented on #11
Tinha que rolar um botao de +1 nos comments =p

[2012-10-03 18:46] suissa opened #18 "Comentários"
Vocês acham interessantes deixar comentários abertos para as oportunidade?

[2012-10-03 18:47] suissa opened #19 "Pergunta ao empregador"
Pode ser interessante ter uma feature onde o Dev possa enviar uma pergunta diretamente ao dono da vaga.

[2012-10-03 18:48] iannsp commented on #19
apoiada completamente, essa vai pro backlog com certeza ;)

[2012-10-03 18:49] augustohp commented on #3
Mandei um e-mail pro pessoal do PagodaBox, segue ele abaixo. Vou atualizando vocês.

[code]

@rdohms Quem é melhor falar com o pessoal de **Azure**? Eu ou você? posso falar com o pessoal do Brasil aqui. Quanto ao **ServerGroove**, acho que você é o cara! Tem o dom?

@alexsandro-xpt  A free acount é pra uma máquina muito fraca, assim como os outros serviços. Nenhum serviço de cloud free vai aguenta

[2012-10-03 18:50] iannsp commented on #18
acho que ssa issue se mistura com a #19.
comentario e pergunta sao acoes realizadas da mesma maneira, podendo ou noa ter visibilidades diferentes(uma pergunta poderia ser de interesse privado)

[2012-10-03 18:50] #18 closed, assigned to nobody

[2012-10-03 18:52] netojoaobatista commented on #19
Sim, é definitivamente um recurso bacana.

Como teremos o email da pessoa que publicou a oferta, assim que uma pergunta for feita, enviamos um email para o publicador.

+1 para a feature "pergunta"

[2012-10-03 18:52] iannsp commented on #15
@netojoaobatista esta certo com relacao a prioridades, mas a ideia eh otima mesmo. backlog nela

[2012-10-03 18:55] iannsp commented on #12
so temos que pensar sobre esse compartilhamento, afinal, trouxemos para um produto exatamente por que "compartilhavam" no grupo ;)

[2012-10-03 18:56] lcobucci commented on #15
@iannsp vou criar outra task pra adicionar o avatar entonces ;-)

[2012-10-03 18:57] lcobucci opened #20 "Exibir avatar do usuário que postou a oportunidade"
Na lista de oportunidades (#15) exibir o avatar do cadastrante a partir do email (buscando a imagem no gravatar).

[2012-10-03 18:58] augustohp commented on #8
Curto a idéia, e usaria o workflow do git-flow mesmo.
- **develop** Merge dos branchs de feature
- **master** Deploy desse cara
- **feature-valueObjects** Um entregável criado a partir do _develop_ e que será mergeado com o _develop_
- **bug-travis** Branch criado a partir do _master_ ou _develop_, com merge da onde ele veio. Caso o merge seja feito no master, ele precisa ir pro develop também.

N

[2012-10-03 19:01] iannsp commented on #7
+1

[2012-10-03 19:22] alganet commented on #8
Eu sou noob no git flow. Queria estar bem seguro sobre ele antes de trabalhar com vocês nesse sistema. Alguém me explica como integração contínua funciona com git-flow?

[2012-10-03 19:34] augustohp commented on #8
Não tme nada que defina onde e como usar IC no git-flow, mas na teoria ao fim de cada _feature_, antes de fazer o merge devolta pro **master** ou pro **develop**, deveria rolar uma checagem pra garantir que não existe nenhum teste quebrado.

Mas isso é totalmente por conta do desenvolvedor que fará o merge, a ferramenta e o workflow não tangem isso =(

[2012-10-03 19:44] alganet commented on #8
Ah eu entendo que não existe nada que defina e tal. Tentamos usar aqui no Yahoo!, mas acabou ficando improdutivo porque passavamos muito tempo fazendo merge das features, então imagino que fizemos algo de errado (a integração no final não era nada contínua). Queria algum exemplo prático, algum case study mesmo.

[2012-10-03 19:44] kinncj commented on #8
Exatamente oq o @augustohp disse.
Além do developer testar e rodar seus testes, axo q nesse nosso caso o **travis** (ou qqr coisa) poderia rolar no nosso branch develop a cada merge de feature pro develop ... não levaria nenhum tempo para integrarmos isso.

[2012-10-03 19:45] kinncj commented on #8
@alganet em breve talvez teremos um _Case report_ bacana, eu + @augustohp + @henriquemoody + outras pessoas estamos trabalhando para implementar aqui na Dafiti

[2012-10-03 19:53] alganet commented on #8
O Travis é sussa, mas não garante eficiência no merge. Meu medo é ficarmos 1h no Hangout fazendo merge de branches que demoramos menos de 1h pra criar :S

[2012-10-03 19:57] kinncj commented on #8
Acredito que a ideia é a galera trampar no mesmo branch(da feature) e no final empurrar ela pro develop, é um merge como se fosse pro master... não acredito que tenha problemas... possiveis problemas apenas com varios branches sendo empurrados para o develop, ai sim pode ter conflitos e tudo mais

[2012-10-03 19:59] augustohp commented on #8
@alganet Concordo que é improdutivo. O _branching model_ de features é bem contra produtivo. Nos meus testes aqui na Dafiti o único ganho (que pra gente é bem grande) é a uniformidade dos _merges_. Mas de fato, se você tem uma equipe que lida bem com os merges e o próprio git, não tem porque não fazer direto no **develop**. Até mesmo porque só um par vai codar por vez no develop.

O que faremos en

[2012-10-03 20:01] augustohp commented on #11
Acho que a idéia de **tags** bem produtiva no início. Podemos ir refatorando e acrescentando os campos...
A única coisa que eu separaria mesmo seria o local (estado, cidade), a empresa e o tipo de contratação: PJ (válido pra freelas), CLT.

O resto de informações o cara preenche e boa.

[2012-10-03 20:07] augustohp opened #21 "Apoiar uma oportunidade"
É importante diferenciar as oportunidades bacanas das ruins. É sacanagem identificar as _ruins_ de maneira explícita, até porque o critério pra isso é muito pessoal.

Então vamos dar a oportunidade de quem estiver cadastrado ou identificado ou quaquer coisa de dar uma espécie de _like_ em uma vaga. Indicando a vaga como bacana.

O que acham?

[2012-10-03 20:08] augustohp commented on #19
+1 também!

[2012-10-03 20:10] kinncj commented on #8
Conversando aqui com o @augustohp , realmente se formos pensar em Agile, ficaria inviável... caminhos a mais, barreiras a mais.

[2012-10-03 20:10] augustohp commented on #14
PHP 5.3 ou 5.4?
O suporte ao 5.3 acaba esse ano, eu voto sempre pelo 5.4 =D

[2012-10-03 20:14] samuelmesq commented on #14
@augustohp palavras de @netojoaobatista :

[2012-10-03 20:14] wellfreire opened #22 "Status da oportunidade"
Talvez para um segundo milestone, seria interessante a opção de modificar o status de uma oportunidade de 'em aberto' para 'vaga preenchida', ou até mesmo a exclusão da mesma pelo autor assim que atendida.

Isto ajuda a evitar que tanto o anunciante de uma oportunidade recente, mas já preenchida, continue recebendo e-mails sobre a mesma, quanto o candidato pra que não perca tempo.

[2012-10-03 20:18] netojoaobatista commented on #22
+1 para a feature "status da oportunidade"

[2012-10-03 20:19] samuelmesq commented on #22
+1, feature essencial

[2012-10-03 20:20] wellfreire commented on #22
Alguém me ensina como colocar a label 'feature' na issue. Novo no Github galera, valeu!

[2012-10-03 20:20] netojoaobatista commented on #21
+1 para a feature.

Seria o mesmo que o sugerido para empresas na #16, só que dessa vez, para a oportunidade em si. De fato, se o +1 for somente para a oportunidade, podemos classificar "boas empresas" baseado no número de boas oportunidades.

[2012-10-03 20:28] augustohp commented on #21
Acho melhor dessa forma. Porque nada garante que a empresa sempre postará boas vagas ou sempre estará na mesma "_boa_" situação...

[2012-10-03 20:29] rdohms commented on #3
@augustohp Azure é melhor voce falar com o Vinicius por ai. ServerGrove eu posso falar, mas me diz se vão mesmo querer, coma SG a certeza é maior pro meu lado. Tem o servidor do SouPHPSP tb, podemos botar lá. Só me dizer que eu arrumo.

[2012-10-03 20:30] netojoaobatista commented on #21
Concordo 100% @augustohp, com o +1 para a oportunidade, teremos uma métrica mais real para a empresa.

Podemos até tirar o status de `feature` da Issue #16.

[2012-10-03 20:32] augustohp commented on #22
@wellfreire Do lado direito da _issue_ tem uma engrenagem ao lado de **Labels**, clicando na engrenagem você consegue especificar as _labels_ que você quer.

+1 pra essa feature. Podemos também determinar um tempo em que a vaga é válida, algo em terno de 15-30 dias. Depois disos a vaga é fechada automaticamente.

Nada que um cron não resolva... =P

Digo isso, porque precisamos trabalhar em formas

[2012-10-03 20:33] augustohp commented on #16
Conforme conversado na issue #21, estamos fechando essa issue em favor da #21.

[2012-10-03 20:33] #16 closed, assigned to nobody

[2012-10-03 20:33] augustohp commented on #14
Que são?

[2012-10-03 20:36] alexsandro-xpt commented on #8
Só um par vai codar por vez no **develop** mesmo?
Não limitar muito não?
Talvez valeria apena tentar achar um meio satisfatório para estes merges, sei la :P

[2012-10-03 20:37] augustohp commented on #7
+1

@iannsp Precisamos agora quebrar essa issue nas devidas partes citando essa issue. Assim conseguimos ter um histórico bacana =D

[2012-10-03 20:37] alexsandro-xpt commented on #3
Quem é o Vinicius @rdohms ?

[2012-10-03 20:38] augustohp commented on #8
@alexsandro-xpt Pro hangout será só um par. Depois o próprio _GitHub_ e os forks vão fazer o trabalho. Enquanto tivermos menos de 15 pessoas contribuindo acho que esse caminho é sustentável =P

Não queria dificultar muito a vida dos novos contribuidores. Acho que isso é bem essencial.

[2012-10-03 20:38] netojoaobatista commented on #14
@augustohp, são: `PHP 5.3.2`, `MySQL 5.1.52` e `Apache 2.2.15`

[2012-10-03 20:39] suissa commented on #3
Pow @kinncj eu ouvia grooveshark todo dia mano =p

[2012-10-03 20:40] augustohp commented on #3
@alexsandro-xpt O Vinicius Souza é o cara da _community_ e _interop_ da Microsoft Brasil. Eu dou uma ligada pra ele agora a noite @rdohms e atualizo essa _issue_. Aí startamos com a _ServerGroove_.

Status do **PagodaBox**: Encaminharam o pedido pra equipe de engenharia. Waiting.

[2012-10-03 20:40] iannsp commented on #22
essa feature realmente eh fundamental, eu digo que deve estar nesse primeiro sprint.

[2012-10-03 20:41] wellfreire commented on #22
@augustohp valeu pela dica!

Quando você diz que 'podemos determinar' um tempo em que a vaga é válida, quer dizer que o app fará isso automaticamente? ou o autor da oportunidade é quem escolhe em quanto tempo expira?

[2012-10-03 20:43] iannsp commented on #21
realmente a atuação em qualificacao de maneira positiva ao inves de negativa permite
a) menos problemas com as empresas por estarem "negativadas" ja que vamos estar gerando analise positiva.
b) esse é um comportamento mais "social"

vejo isso como uma coisa interessante, um exciter mesmo, e o colocaria no backlog. Não rola a implementacao dessa issue agora.

[2012-10-03 20:44] iannsp commented on #22
@augustohp @wellfreire a ferramenta tem um valor default, alteravel. esse seria o melhor caminho, creio eu.

[2012-10-03 20:46] augustohp commented on #14
Po, a do Ubuntu 12.04 é 5.3.10 e acho antiga já. O MySQL também é bem mais atual o 5.5 ...
Sério que vocês preferem mesmo usar o CentOS?

A versão 5.3.2 tem mais de 2 anos já =X

No fim o SO é indiferente pra gente agora. Podemos mudar depois, é mais o lance de ter menos trabalho pra fazer as coisas.
Eu colocaria um **Varnish** também nessa configuração.
Sem contar os cabeçalhos de _dev_ do PHP pr

[2012-10-03 20:47] wellfreire commented on #22
concordo com você @iannsp, o ideal é que tenha um default com a liberdade para que o autor escolha o prazo.

[2012-10-03 20:50] drgomesp commented on #14
PHP tem versões estáveis tanto para 5.3 quanto para 5.4, isso não deverá ser uma limitação.

Caso seja, usamos outra distor mesmo.

Tentarei criar esse arquivo hoje, ainda estou no trabalho, em reunião o dia todo.

[2012-10-03 20:50] alexsandro-xpt commented on #3
@augustohp Suspeito de quem seja. O representante do Azure no Brasil é Luciano Condé mas só conversei com ele uma vez.

[2012-10-03 20:50] augustohp commented on #22
@wellfreire Isso mesmo!

@iannsp Só acho que essa estória não cabe nos primeiros sprints. Precisamos primeiro focar em ter um cadastro de oportunidade e depois em exibir. Essa história só pode vir depois disso.

[2012-10-03 20:51] netojoaobatista commented on #14
Sempre podemos abrir mão dos pacotes da distro e compilar o PHP, MySQL e Apache direto na VM.

[2012-10-03 20:52] iannsp commented on #22
houve um problema de comunicacao aqui.
Eu interpretei todo o hangout como um sprint e por isso a frase acima.
comunicacao resolvida.

[2012-10-03 20:52] gnuwilliam commented on #5
Atualizei o README e abri uma pull request.

O que acharam? Sugestões?

https://github.com/gnuwilliam/oportunidades

[2012-10-03 20:53] augustohp commented on #3
Não sei se o Condé se prontificaria a ajudar mais do que o Vinicius. Pessoalmente, prefiro conversar com o Vinicius mesmo e ele fala direto com o Condé ou com alguém que consiga ceder isso pra gente. Mas provavelmente teremos a resposta só amanhã.

[2012-10-03 20:54] augustohp commented on #22
Então essa _issue_ vai pro backlog e decidimos na hora quando é a hora de colocar ela dentro de algum _sprint_.

@wellfreire Mandou bem pra caralho na sugestão!

[2012-10-03 20:55] alexsandro-xpt commented on #3
É o que eu imaginei mesmo.

[2012-10-03 20:55] netojoaobatista commented on #22
Mandou muito bem mesmo @wellfreire. Esse é um recurso fundamental.

[2012-10-03 20:59] augustohp commented on #5
@gnuwilliam Comentei no próprio pull request =D Valeu pela contribuição.

[2012-10-03 21:00] augustohp commented on #1
@deyvisonrocha Obrigado pelas palavras manolo!

Só citando que esta _issue_ está intimamente ligada a #3

[2012-10-03 21:00] alganet commented on #21
Eu gosto dessa feature, é simples de programar e resolve uma pica gigantesca: moderação. Ninguém quer ficar o dia todo moderando vagas. Se o usuário puder ver quais vagas são melhores de alguma forma, ele pode aprender a ignorar as que não tem likes.

[2012-10-03 21:01] wellfreire commented on #22
Essa sugestão foi por experiência própria, pois sempre fico na dúvida quando vejo uma vaga de alguns dias e não sei se já foi preenchida.

[2012-10-03 21:01] augustohp commented on #21
Como vocês mesmo disseram: ela resolve uma pica gigantesca. Várias picas na verdade. O _Hacker News_ funciona excepcionalmente bem só com isso.

[2012-10-03 21:02] alganet commented on #8
No Hangout acho que temos que fazer um par por vez. O objetivo principal é ensinar, não criar um app. Se o cara não puder ver algo que está em desenvolvimento de maneira clara, com algum de nós explicando o que tá sendo feito, não será muito útil pro aprendizado.

Depois do Hangout no entanto pode ser que queiramos continuar com o projeto, aí talvez um branching model seja bastante apropriado.

[2012-10-03 21:04] augustohp commented on #8
@alganet +1

[2012-10-03 21:12] netojoaobatista commented on #8
Perfeito @alganet!

[2012-10-03 21:45] alexsandro-xpt commented on #8
Maravilha, isto ai mesmo, durante Hungout um par no máximo para dar para acompanhar.

[2012-10-03 21:56] #8 closed, assigned to nobody

[2012-10-03 22:56] suissa commented on #7
+1

[2012-10-03 23:03] suissa commented on #12
Então Ivo normalmente não pedem email, contato ou ficam perguntando coisas sobre a vaga (tirando os trolls), nesse caso compartilharia com algumas infos basicas que nós sempre queremos ver num anuncio de vaga e logo depois um link para a pagina da oportunidade e um link direto para perguntar ao empregador.

Por sinal se não tiver comentários sobre a oportunidade seria interessante deixar a caixa p

[2012-10-03 23:21] flaviosilveira opened #24 "API para buscar jobs"
Sendo um painel de vagas do PHP Brasil, teremos vaga de todo o país.

Logo, seria interessante ter uma API para que as comunidades de cada estado possam buscar as vagas e inserir as de interesse em seus próprios sites.

É uma forma de todas as comunidades aproveitarem o serviço.

[2012-10-04 00:06] faabiosr opened #25 "Componentes"
Não sei se ainda é o momento, mas acredito que seria interessante deixar defindo quais componentes serão usados nessa primeira etapa do projeto.
## Eu escolheria:

Respect/Rest
Respect/Validation
Respect/Config
Doctrine
Twig

[2012-10-04 00:08] augustohp commented on #24
Gosto da idéia de API e sou suspeito pra sugerir o Respect\Rest pro serviço, mas vamos focar em algumas coisas que não estão presas à ferramenta:
- Uma API Rest é interessante e fácil de consumir
- Podemos utilizar vários formatos
  - HTML
  - JSON
  - XML
  - PDF

[2012-10-04 00:40] augustohp commented on #25
Momento ainda não é, precisamos focar primeiro "no quê" antes do "como", mas gostei das suas sugestões. =P
Acho que os primeiros componentes que utilizaremos serão:
- Composer
- PHPUnit

O resto melhor deixar aberto pra discussão durante o desenvolvimento mesmo. Ou por aqui no Github =D

[2012-10-04 00:41] drgomesp commented on #25
PHPUnit na veia, o resto é resto.

[2012-10-04 00:44] drgomesp commented on #3
O PagodaBox é muito legal, mas tem limitações, como bem lembrado pelo @augustohp.

Ainda assim sugiro um deploy simples com capistrano em um EC2 da Amazon.

Integração contínua fica fácil assim, basta subir um Jenkins lá mesmo, na mesma ou em outra instância.

[2012-10-04 00:49] augustohp commented on #3
As contas **free** de todos os serviços são inúteis pra gente. Ao optar por capistrano, prefiro fazer o deploy em um server dedicado que eu tenho e que outros tem. Eu realmente gostaria de um deploy com o menor overhead possível, instalar um componente, configurá-lo especificamente pra um serviço é um overhead bem maior do que simplesmente fazer um push ou manter um arquivo específico para o servi

[2012-10-04 00:50] drgomesp commented on #14
Vou me certificar de ter as versões estáveis mais atuais de cada pacote.

Do contrário, trocamos de distro sem problema algum.

`127.0.0.2:80`, este é o endereço padrão para o acesso local? Isto será definido no Vagrantfile.

[2012-10-04 00:52] drgomesp commented on #3
@augustohp concordo com você, porém não vejo nada mais simples que o capistrano em um EC2 neste momento. Mas isso é uma limitação minha de conhecimento. Estou aberto a quaisquer novidades nesse quesito.

P.S.: Sem dúvida, o Pagoda facilitaria neste caso, porém temos de pensar em migrations da base de dados. Não tenho certeza se o Pagoda oferece este recurso. Com capistrano, temos isso de forma sim

[2012-10-04 00:54] augustohp commented on #14
Sério que a gente vai optar por compilar as coisas só por causa da escolha do SO? Isso é bastante contra produtivo vocês não acham?

Mas enfim, acho importante antes de mais nada definirmos as versões utilizadas de cada componente =P

[2012-10-04 00:55] drgomesp commented on #14
Não vamos compilar nada. Posso pegar versões específicas direto do gerenciador de pacotes do CentOS.

Mas como eu disse, quaisquer dificuldades, partimos para uma solução mais simples, afinal de contas, para o que precisamos, o OS realmente não fará a menor diferença.

[2012-10-04 00:57] augustohp commented on #14
Exato, eu pretendo desenvolver as coisas locais, provavelmente tenho a versão que será utilizada. O bacana é que com o vagrant a gente consegue testar bem o esquema de deploy e subir ainda um **Jenkins**!

[2012-10-04 00:58] drgomesp commented on #14
Minhas sugestões para as versões são:
- PHP 5.4.7
- Apache httpd 2.4.3
- MySQL 5.5.28

Exatamente, o Vagrant nos facilita muito neste quesito.

Porém, talvez um Travis facilite a nossa vida, pela facilidade da configuração comparado com o Jenkins... Especialmente por utilizarmos o Pagoda.

Estou errado?

[2012-10-04 01:04] augustohp commented on #14
+1 pras versões \m/

@drgomesp A idéia nossa é usar o Travis mesmo (bem lembrado, precisamos de um ticket pra isso), mas acho que seria bacana configurar um Jenkins no vagrant e acessá-lo, até memso porque vamos ter metade do caminho pronto. Pra isso é bom que o serviço e a porta já estejam mapeados.

[2012-10-04 01:05] augustohp opened #26 "Suporte ao Travis"
Suportar o http://travis-ci.org pra integração contínua.

[2012-10-04 01:06] drgomesp commented on #14
Posso fazer isso tranquilamente, porém acredito que, pela limitação de tempo, não conseguirei preparar o Jenkins já pra amanhã. É possível, mas não garanto.

Vou escrever os recipes do Puppet para essas versões dos serviços, e ainda tem outras coisas, como os vhosts, que são essenciais pra amanhã.

Porém, +1 pro Jenkins, sempre preferível em qualquer situação.

[2012-10-04 01:07] drgomesp commented on #26
+1

[2012-10-04 01:09] augustohp commented on #3
Pra migração de bancos temos diversas ferramentas, podemos usar o Capistrano, o Ant, o Phing, o Make ou um script PHP mesmo. Temos diversas soluções pro mesmo problema, como não temos o problema ainda (sequer temos o código) acho que é essencial nos focarmos nas soluções mais imediatas do que em soluções pra problemas que ainda não temos.

O deploy na maioria dos serviços de coud hoje já rola com

[2012-10-04 01:10] augustohp commented on #14
Na real acho que é só deixar a porta do jenkins no vagrantfile e ele instalado. A idéia é justamente mostrar a gente configurando o Jenkins rapidão pra galera ver que não é bixo de 7 cabeças. Mas não acho que ele faça parte do caminho crítico, só acho bacana deixar ele de reserva ali já. Reconfigurar o vagrant e subir a VM de novo não vai ser bacana de fazer ao vivo =P

[2012-10-04 01:13] drgomesp commented on #3
+1, muita informação relevante pra 2 parágrafos. =D

Migração fica pra um segundo momento.

Já o deploy, Pagoda na veia.

[2012-10-04 01:13] drgomesp commented on #14
+1.

Show de bola, farei isso então.

[2012-10-04 01:28] #5 closed, assigned to nobody

[2012-10-04 01:29] kinncj commented on #3
Se não tivermos feedback rápido pra amanhã, Sobe no linode msm... mais facil(pois eu tenho, @augustohp tem N pessoas tem) e nada que um hook não sirva pro deploy (ou até mesmo o directory_root estar apontado na master) ;)

[2012-10-04 01:30] kinncj commented on #8
@alganet +1

[2012-10-04 03:56] augustohp commented on #14
![Happy panda](https://raw.github.com/augustohp/augustohp.github.com/master/res/img/panda.jpg)

[2012-10-04 14:04] alexsandro-xpt commented on #26
Nunca o usei, mas vai ser uma boa. +1

[2012-10-04 14:16] brunoaugusto opened #27 "CRUD com Observer sem conflito de Interfaces"
Esse é um problema particular [meu](http://goo.gl/lySOZ) mas acredito que valha a pena uma pincelada para quem pratica o uso das classes-base para todas as outras e ainda assim tem uma real necessidade em utilizar o _Observer_

[2012-10-04 14:22] brunoaugusto commented on #25
Eu acho que muita gente, seja por preguiça ou falta de conhecimento, não utiliza PHPUnit.

Eu sou um triste exemplo. Ante ao exposto, não seria interessante esses testes virem após o hangout sobre PHPUnit já planejado?

[2012-10-04 14:24] brunoaugusto commented on #20
Para um primeiro momento acho desnecessário pois envolveria uma discussão um pouco mais aprofundada na questão de como uma API funciona ou como a autorização de uso é feita, mesmo que o Gravatar não requeira isso.

Como Feature, é interessante. Mas do ponto de vista programática, nem tanto.

[2012-10-04 14:30] lcobucci commented on #20
É um uso de API "sem saber", para buscar o avatar é só gerar um hash MD5 do email e colocar na URI e passar a largura esperada como query string. Ex: http://www.gravatar.com/avatar/62e128858ac2533534b93d96575b4a87?s=400

[code]

Essa feature foi só um desmembramento da #15, para entrar no backlog.

Só jogar essa URI no atributo src da imagem que vc terá o que precisa.

[2012-10-04 14:39] lcobucci commented on #27
Pelo que entendi vc tá querendo misturar um Active Record com Observer, certo?
Não vou nem entrar no mérito de não achar o melhor caminho para isto, mas acredito que isto é um "requisito" de uma história e não uma história propriamente dita.

Ou seja, seria um comentário das issues #11 e/ou #15, concorda @augustohp e @iannsp?

[2012-10-04 14:53] brunoaugusto commented on #27
Eu tive muito trabalho em compreender e elaborar meu conjunto de classes relativas a banco de dados.

Material escasso, incompleto, confuso então fiz da maneira mais sensata que consegui. A única certeza que tenho, hoje, é que não é um ActiveRecord. :P

Meu problema maior e que me motivou a postar essa issue seria quanto à harmonia léxica do código. Eu tenho muito disso, infelizmente. Se o código

[2012-10-04 15:09] wesleyvicthor commented on #24
Uma boa ideia para um sprint futuro.

[2012-10-04 15:17] diegoholiveira commented on #11
Esse lance de skills é muito bem resolvido no MojoLive, IMO. Acho que poderiamos tentar fazer algo semelhante ao que eles fizeram.

http://img253.imageshack.us/img253/3024/mojoliveskills.png

Podiamos inclusive colocar o lance de qual é a experiência que você procura naquele skill, tipo um combo box com as opções: "experiente, pleno, iniciante". Isso daria a quem posta a oportunidade de colocar sk

[2012-10-04 15:17] samuelmesq commented on #25
@BrunoAugusto os teste desse projeto, serão o conteúdo do Hangout.

[2012-10-04 15:22] diegoholiveira commented on #3
Porque não usar o doctrine migrations para a migração de banco? Eu estou usando ele com sucesso em um projeto.

Sobre o deploy, eu não conheço o capistrano, mas o Fabric é perfeito, principalmente porque ele dá liberdade de adequar seu deploy a qualquer vendor e qualquer arquitetura.

[2012-10-04 15:27] diegoholiveira commented on #21
+1

O que vocês acham de criar uma feature que, baseada na aceitação da vaga, o sistema vá sugerindo "revisões" para vaga?

Algo do tipo: "Oi, notamos que seu anúncio não é popular, sugerimos que você faça uma revisão no seu anúncio."

Um criterio que sugiro para ser a aceitação da vaga é o numero de likes + numero de visualizações.

[2012-10-04 15:29] wesleyvicthor commented on #14
@augustohp ja vi você configurando o jenkins mano e não fez isso em menos de uma hora ainda mais com os plugins de métricas etc.

[2012-10-04 15:31] ramon-to commented on #11
A questão dos skills é algo muito interessante, principalmente se em uma versão futura do projeto houver a possibilidade de cadastrar as skills dos profissionais, e assim gerar gráficos/relatórios/relação entre o que o mercado necessita e o que "a comunidade" tem a oferecer.

[2012-10-04 15:34] wesleyvicthor commented on #25
O objetivo desse hangout era justamente teste, aparentemente ta virando uma parada diferente...

[2012-10-04 15:57] suissa commented on #11
+1 @diegoholiveira
+1 @allmeida

[2012-10-04 15:59] suissa commented on #14
O Vagrant ja foi feito?

[2012-10-04 16:04] drgomesp commented on #14
@wesleyvicthor não vou configurar nada, apenas instalar e abrir uma porta específica pra ele na VM.

@suissa ainda não, estou terminando de escrever o Vagrantfile e devo fazer o pull request hoje, antes do hangout.

[2012-10-04 16:05] drgomesp commented on #20
+1.

A API do Gravatar é extremamente fácil de usar e agiliza bastante essa questão dos avatares.

Tem o problema comentado pelo @netojoaobatista, porém, relacionado às farsas.

[2012-10-04 16:08] lcobucci commented on #27
Depois de ver com calma, realmente num tem a ver com Active Record, mas tem algumas coisas estranhas a meu ver... anyway isso resolvemos no fórum e não aqui =P

[2012-10-04 16:09] lcobucci commented on #20
Sim, por isso que é pra ficar pro backlog ;-)

[2012-10-04 16:09] netojoaobatista commented on #21
@diegoholiveira, penso que isso é problema da empresa, ela que deve monitorar suas oportunidades.

Podemos, no futuro, listar as vagas por dois critérios:
1. Preferência do usuários (skills que ele pretende ver).
2. Popularidade da oportunidade.
3. Data da oportunidade.

Obviamente, a questão dos skills que o usuário pretende visualizar é uma `feature` futura, não será incluída nesse milestone, ma

[2012-10-04 16:10] drgomesp commented on #27
Como já comentei lá no fórum, faz sentido para um _Manager_ implementar um _SplSubject_? Deixa isso pra lá mesmo, não tem relação com o projeto, ao meu ver.

[2012-10-04 16:12] netojoaobatista commented on #24
+1 para a `feature`
+1 para um próximo `milestone`

[2012-10-04 16:12] drgomesp commented on #25
@wesleyvicthor ressaltei isso lá no grupo. Não quero ver os hangouts virarem coisa diferente do que nasceram pra ser. Quero ver discussões a respeito de testes hoje, mesmo que em cima da aplicação que estamos idealizando.

Foco é a palavra.

[2012-10-04 16:19] netojoaobatista commented on #25
Não @wesleyvicthor, não está virando uma parada diferente. O foco do hangout será mostrar, na prática, o que são testes na vida real.

Se fossemos extritamente teóricos, ficaria muito difícil mostrar o que é um teste, como escrevê-lo e sua importância para o desenvolvimento.

Mostraremos o que significa, na prática, os 5 princípios de teste:

**F.I.R.S.T.**
- **F** => Fast => Os testes precisam se

[2012-10-04 16:20] wesleyvicthor commented on #27
não entendi.

[2012-10-04 16:23] wesleyvicthor commented on #25
boa.

[2012-10-04 16:26] wesleyvicthor commented on #27
@BrunoAugusto a maneira de como resolver os problemas decorrentes será de responsábilidade do pair em atividade(programando).

As issues são para:
1. Sugerir features
2. Reportar Bugs
3. Tirar dúvidas

[2012-10-04 16:28] #27 closed, assigned to nobody

[2012-10-04 16:33] lcobucci commented on #27
Valeu @wesleyvicthor, era isso que quis dizer com meu primeiro comentário.

[2012-10-04 17:17] netojoaobatista commented on #14
@drgomesp, vamos precisar dessas máquinas antes do hangout. Precisaremos configurar as chaves SSH e ver outras configurações para o ambiente de desenvolvimento.

[2012-10-04 17:20] ramon-to opened #28 "Design / Front-End da aplicação"
Primeiro quero parabenizar todos os envolvidos no projeto pelo ótimo trabalho que vocês vem realizando transmitindo conhecimento para toda a comunidade.

Sei que o foco deste projeto em si é mostrar como são feito os teste, mas se quisermos que a aplicação seja utilizada no "dia-a-dia" ela precisa de uma interface que facilite o acesso as funcionalidades da mesma. Vocês já tem alguma ideia em como

[2012-10-04 17:21] drgomesp commented on #14
@netojoaobatista estou no trabalho neste momento, voltarei a trabalhar nisso quando sair, às 17h.

De qualquer forma, o básico vai estar pronto até às 22h.

Precisamos de mais o que, especificamente?

[2012-10-04 17:21] wesleyvicthor commented on #28
WOW!

[2012-10-04 17:21] drgomesp commented on #28
WOW! (2)

[2012-10-04 17:23] wesleyvicthor commented on #28
E expressou muito bem!

Simples, Prático, Objetivo.

Eu curti! talvez um ajuste aqui ou ali na tipografia, de qualquer forma, parabéns e valeu pela iniciativa!

[2012-10-04 17:24] netojoaobatista commented on #28
@allmeida, mandou muito bem cara!

Mais legal que sua GUI, só sua iniciativa!

[2012-10-04 17:29] marcelod commented on #28
Parabéns.... \o/

[2012-10-04 17:50] samuelmesq commented on #28
@allmeida está dando "Not Found".

fiquei curioso demais para ver. :'D

[2012-10-04 18:19] ramon-to commented on #28
Vlw pessoal, caso vocês queiram o psd é só falar.

---

@samuelmesq  atualizei o link da imagem. :)

[2012-10-04 18:25] augustohp commented on #28
Wow!

Passa pro meu email, augusto@phpsp.org.br que eu jogo no repositório!

[2012-10-04 18:26] augustohp commented on #28
PS: é a fonte Ubuntu no logo? Gostei dela!

[2012-10-04 18:32] ramon-to commented on #28
@augustohp [Sansation](http://www.fontsquirrel.com/fonts/Sansation)
Vou dar uma organizada e já te mando.

[2012-10-04 18:34] brunoaugusto commented on #27
Caro Sr. Wesley.

Por acaso essa **issue** que visa permitir que ao objeto responsável pela atualização de um registro notifique Observers responsáveis à ele anexados para que estes realizem outras tarefas pós-update, deixa de ser uma **feature** sugerida?

Por acaso você acredita realmente ser viável e justificável um método _postUpdate()_ sem corpo, passível de ser sobrescrito, como presente em

[2012-10-04 18:38] wesleyvicthor commented on #27
@BrunoAugusto faz assim cara, quer resolver seu problema e aprender ? Entra no meu lugar no hangout, tire suas duvidas e implemente a "tal feature" você estará trabalhando com um time de primeira acredite.

[2012-10-04 18:40] brunoaugusto commented on #27
Eu assisto a todos os hangouts gravados 36 horas depois de feitos por indisponibilidade de horário.

E mais, obviamente, se eu iniciei um tópico no fórum é justamente porque não sei como proceder por mim mesmo.

Mas deixa quieto, sugestão dada, sugestão rejeitada, continuem vocês. Me limito à apenas assistir quietinho.

[2012-10-04 19:08] samuelmesq commented on #28
frontend a disposição o/.

<hr/>

@allmeida ficou show, parabéns.

[2012-10-04 23:43] drgomesp commented on #14
@netojoaobatista, @augustohp, tive alguns problemas para configurar, em pouco tempo, as versões combinadas.

Acabei seguindo a sugestão do João, e pegando as últimas versões estáveis do CentOS.

Mais pra frente podemos mudar - e acho que devemos mesmo, mas para agora, creio que deverá servir.

Falta terminar as configurações específicas de vhosts e outros detalhes.

[2012-10-05 00:36] augustohp commented on #14
Devemos mudar de maneira urgente. Começar o projeto com uma versão de 2 anos atrás do PHP é pra mim uma vergonha pessoal. A coisa se agrava mais quando todo o core está bem decidido a finalizar o suporte à árvore do 5.3 esse ano.

Mas acho que não precisa de muito não... pelo menos no começo do Hangout vamos (ao meu ver) muito mais o terminal e o PHPUnit do que qualquer outra coisa.

@drgomesp Voc

[2012-10-05 00:46] drgomesp commented on #14
@augustohp, posso mudar sim.

Porém, pelo pouco tempo que temos, acho melhor usar um Ubuntu ou algo parecido.

Não tenho costume com ele, pra instalar um 5.4 stable nele é rápido?

Estou em fase de término, jájá vou fazer a pull request.

[2012-10-05 00:52] netojoaobatista commented on #14
Com base na situação atual, uma VM para dev é, realmente, necessária?

[2012-10-05 00:53] drgomesp commented on #14
Ainda assim acho importante.

Estou providenciando a mais simples possível...

[2012-10-05 00:57] netojoaobatista commented on #14
@drgomesp, importante por qual motivo?

[2012-10-05 00:58] drgomesp commented on #14
@netojoaobatista acredito que mais pela questão da padronização de ambiente entre os desenvolvedores.

E também pela facilidade do gerenciamento de pacotes, ferramentas, etc.

Vamos abrir o hangout interno pra discutir melhor isso?

[2012-10-05 01:13] augustohp commented on #14
Acho que rola usar do jeito que está, ter alguma coisa é melhor do que não ter nada. Se mudarmos isso agora corremos o risco de não ter nada como o @netojoaobatista bem notou.

Depois mudamos as coisas e discumos melhor.

[2012-10-05 01:15] augustohp opened #29 "Padrões adotados."
Acho que é óbvio que adotaremos todas as **PSR**s, mas fora isso precisamos padronizar mais alguma coisas.
- Codaremos em inglês ou português? (Prefiro ingluês)
- Mensagens de commit em inglês ou português? (Prefiro português mais aí teremos que forçar uma configuração no git)
- Encoding dos arquivos? (Prefiro UTF-8)
- Line endings dos arquivos? (Prefiro Unix-like)

Tem mais alguma coisa que estou

[2012-10-05 01:18] augustohp commented on #28
Está no _develop_ e no _master_.

[2012-10-05 01:21] drgomesp commented on #14
Esqueci de referenciar aqui, mas tá feito o Pull Request com o básico.

[2012-10-05 01:44] henriquemoody opened #31 "Criar arquivo .gitignore"

[2012-10-05 01:47] #31 closed, assigned to henriquemoody

[2012-10-05 02:03] netojoaobatista commented on #29
- **Code** => Inglês
- **Commit** => Português, para seguir o padrão do repositório, como as Issues estão em português, as mensagens de commit ficarão melhores em português.
- **Encoding** => UTF-8
- **Line endings** => Unix Like

[2012-10-05 02:04] drgomesp commented on #29
+1

[2012-10-05 02:04] henriquemoody commented on #29
É, acho que isso não tem nem o que discutir, é isso mesmo, galera.

[2012-10-05 02:04] drgomesp commented on #29
Sou a favor de seguir, estritamente, as PSR's 1 e 2, sem frescuras.

[2012-10-05 02:08] marcelod commented on #28
só para saber, será criado um backend tbm?

[2012-10-05 02:08] eduardocruz commented on #24
Estamos desenvolvendo o http://www.MySkills.com.br, e tb é em PHP. Se o OPHortunidades disponibilizar  uma API legal temos interesse em montar uma integração pra inserir e buscar vagas nele :)

+1 pra feature tb ;)

[2012-10-05 03:29] iannsp opened #32 "Configuração de Ambiente"
configurar o ambiente de desenvolvimento para dar sequencia

[2012-10-05 03:30] iannsp opened #33 "Definição da base de dados"
configuracao do banco de dados
criacao da tabela para vagas

[2012-10-05 03:31] iannsp opened #34 "Criação da GUI para cadastro de vagas"
o formulario html para cadastro de vagas

[2012-10-05 03:32] iannsp opened #35 "criacao dos objetos necessarios para manipulacao da base de dados"
Criacao da entidade
criacao de objetos corretatos a persistencia.

[2012-10-05 03:33] iannsp opened #36 "Operacionalização do Formulario"
permitir que o formulario passe a persistir os dados da vaga.

[2012-10-05 04:26] iannsp opened #37 "adicionar o dado description no position"
permitir o campo descricao no objeto de position para poder anotar o nome da vaga e sua descricao detalhada.

[2012-10-05 04:42] #32 closed, assigned to augustohp

[2012-10-05 05:31] #37 closed, assigned to henriquemoody

[2012-10-05 06:33] iannsp opened #38 "criar a tabela para as positions"
criar a tabela no banco de dados selecionado para poder persistir as positions cadastradas

[2012-10-05 07:05] iannsp commented on #38
done

[2012-10-05 07:05] #38 closed, assigned to wesleyvicthor

[2012-10-05 07:05] #33 closed, assigned to nobody

[2012-10-05 07:06] iannsp commented on #35
done

[2012-10-05 07:06] #35 closed, assigned to nobody

[2012-10-05 07:41] rogeriopradoj commented on #29
Concordo!

Hora de fechar a issue?

[2012-10-05 07:51] #29 closed, assigned to nobody

[2012-10-05 07:52] rogeriopradoj commented on #14
@drgomesp, o Pull Request #30 é o que tem as configurações básicas, certo?

Acho que está em um repositório seu fechado: o que mais você já montou? Tem como mandar em um gist para nós?

[2012-10-05 12:19] caferrari opened #39 "Padronizar identação para 4 espaços"
Alguns arquivos estão identados com tabs.

[2012-10-05 12:24] caferrari opened #40 "Alterar o branch padrão para o develop"
Fica mais claro para achar o codigo.

[2012-10-05 12:57] thiagophx commented on #11
Gosto da idéia de integração com LinkedIn. Muitas empresas buscam candidatos por lá.

[2012-10-05 13:35] netojoaobatista opened #41 "Remoção do bin/phpunit e composer.lock"
Pessoal, estou removendo o composer.lock por causa daquele problema que tivemos ontem. Acho melhor deixar o diretório de trabalho limpo, para que o pessoal possa usar o `composer.phar install` e configurar as coisas localmente.

[2012-10-05 14:22] wesleyvicthor commented on #41
justo.

[2012-10-05 14:28] londerson commented on #41
Maneiro

[2012-10-05 14:33] marcusesa opened #42 "Quebra teste no DataAccessTest"
@netojoaobatista o testInsertPosition não poderia ser quebrado em dois cara, ou seja,
testInsertPosition = testa o metodo insert do objeto Position
e depois teriamos
testGetById = testa o metodo getById  do objeto Position

eu sei que você já aproveitou o id do registro que acabou de inserir,
mas depois quando o teste falhar acho seria mas claro ter eles separados.

[2012-10-05 15:14] #39 closed, assigned to nobody

[2012-10-05 15:15] #41 closed, assigned to netojoaobatista

[2012-10-05 15:20] netojoaobatista commented on #42
A questão do teste é que ele é isolado. Se eu separar o `getById` do `testInsertPosition`, o `getById` não retornará nada, uma vez que a tabela é destruída.

Adicionei 2 novos testes, `testGetByIdWithAnInvalidArgument` para testar um argumento inválido e o `testGetByIdWithAnInvalidID` para testar um ID inexistente.

[2012-10-05 16:42] marcusesa commented on #42
É cara como o id só é retornado pelo método insert não daria pra fazer algo como:

[code]

Os dois novos testes testGetByIdWithAnInvalidArgument e testGetByIdWithAnInvalidID achei que esta ótimo.

Obs: pessoal não consigo colocar a label Dúvida.

[2012-10-05 17:35] wesleyvicthor opened #43 "Criar template para GUI."
- Definir local das pastas para arquivos estáticos e views.
- Criar estrutura de template simples para aplicar layout.

[2012-10-05 17:43] wesleyvicthor commented on #43
Po, foi mal esqueci de vincular o push.

Adicionei uma estrutura base para formatar o template, não concluí pois não tenho photoshop, preciso de um recorte vertical do backgroud do header.
- Seria interessante adicionar a fonte ao projeto.
- Creio que os botões é tranquilo fazer com css.

[2012-10-05 17:57] ramon-to commented on #43
Acho que antes de começar aplicar o layout, devemos definir quais browsers vão ser suportados. Também sugiro agente trabalhar em cima do [Twitter BootStrap](http://twitter.github.com/bootstrap/index.html).

[2012-10-05 18:01] wesleyvicthor commented on #43
Concordo.

Eu penso IE9+
Também tem a questão de responsive. A app terá versões para tablets e mobile ?

[2012-10-05 18:02] augustohp commented on #40
Done =D

[2012-10-05 18:02] #40 closed, assigned to augustohp

[2012-10-05 18:06] ramon-to commented on #43
@wesleyvicthor +1
Acho fundamental o layout ser responsivo.

[2012-10-05 19:56] paulofernandesjr opened #44 "Tests"
Opa!
Galera nem sei se é aqui que posta esse tipo de coisa, mas só vamos fazer commits quando os testes passarem... se não complica a vida do pessoal.
Atualizei os arquivos e tem um teste dando erro.
Sacanagem isso :(

[2012-10-05 20:31] drgomesp commented on #44
Qual o teste?

[2012-10-05 20:41] wesleyvicthor commented on #44
@paulofernandesjr você sobe aplicações para produção sem teste ?

Sim, teste quebrado deve ser solucionado, não deve ser aceito PRs com testes quebrados...

Futuramente isso ficará claro na build do projeto, build quebrada o responsável por quebra-la deverá corrigir. TVN.

Caso haja duvidas com algum teste, poste-as.

[2012-10-05 21:01] paulofernandesjr commented on #44
Não @wesleyvicthor é que fui rodar os testes e tava dando erro.
Ai imaginei que alguém tivesse subido com bug.
Falei com o @netojoaobatista e ele me explicou o que fazer :)

[2012-10-05 21:01] #44 closed, assigned to nobody

[2012-10-05 21:03] wesleyvicthor commented on #44
boa.

[2012-10-05 22:08] ramon-to commented on #43
Caso o Twitter Bootstrap for utilizado, o que acham de trabalharmos com o [LessCSS](http://lesscss.org/) para facilitar no desenvolvimento do front-end?

[2012-10-05 23:57] Ferreiramg commented on #28
Coloca o Elefante do PHP em algum canto do layout ;P

[2012-10-06 00:21] andreyvital opened #46 "Código das entidades."
Galera, não queria interferir mas, no **meu** conceito, é correto fazer validação dentro das entidades? estas não deveriam somente representar os dados?

Ficou meio estranho pra mim :(
Abraços.

[2012-10-06 00:31] drgomesp commented on #46
Eu acho que depende do que você precisa.

Se necessitamos que as entidades tenham essas validações, então elas deverão ter.

Ao meu ver, não tem nada de mais.

[2012-10-06 00:36] andreyvital commented on #46
Ok; se possível, coloca a label aí, porque eu não tenho acesso.

[2012-10-06 00:38] drgomesp commented on #46
Tá adicionada a label.

[2012-10-06 00:38] #46 closed, assigned to nobody

[2012-10-06 01:46] netojoaobatista commented on #28
O elefante do PHP já está no logo, @Ferreiramg, mas só os fortes conseguem ver.

:D

[2012-10-06 01:56] Ferreiramg commented on #28
hsaushuahsuahush pod cre .. Tem q coloca um pros fracos tmb ue kkkkkk....

[2012-10-06 03:43] netojoaobatista opened #47 "RFC: Presentation Logic"
Pessoal o que acham de uma presentation logic com XML, XML Schema (para validação do XML) e XSL para transformação do XML em HTML 5?

[2012-10-06 14:58] netojoaobatista commented on #42
Então @marcusesa, se eu extrair o `getById` do `testInsertPosition`, o `getById` retornará um conjunto vazio, uma vez que o `tearDown` destroi a tabela assim que o `testInsertPosition` termina.

Nesse seu exemplo, quem vai passar o `$objectPosition` para o `testGetById`, um `@dataProvider`? E mesmo que um `@dataProvider` lhe passe esse `$objectPosition`, o `getById` vai sempre disparar um `Runtime

[2012-10-06 15:00] netojoaobatista commented on #43
Dêem uma olhada na Issue #47, ela está diretamente relacionada com essa Issue aqui,

[2012-10-06 15:01] netojoaobatista commented on #34
A Issue #47 resolve essa Issue, se aprovada.

[2012-10-06 15:30] marcusesa commented on #42
@netojoaobatista até pensei em um dataprovider cara, mais eu acho que você tem razão como estamos trabalhando com throw exception pra casos de falha os testes **testInsertWithNullPositionShouldThrownAnException** e **testGetByIdWithAnInvalidArgument** já cobrem bem.

Por mim já esta encerrada essa issue.

[2012-10-06 16:11] Ferreiramg commented on #47
Bacana !! Acho valida a ideia de usar o <a href="http://twitter.github.com/bootstrap/index.html">Twitter BootStrap.</a> !!!!Deu um problema com <!DOCTYPE html> ele apareceu como string =X

[2012-10-06 16:48] #42 closed, assigned to nobody

[2012-10-06 16:51] netojoaobatista commented on #47
Para a GUI pode-se usar Twitter BootStrap, ou qualquer outra coisa, @Ferreiramg. A Presentation Logic e a Presentation GUI são dois camaradas diferentes.

Sobre o DOCTYPE, não entendi.

[2012-10-07 04:27] rogeriopradoj commented on #14
Criei um branch, feature/vagrant, para colocar o Vagrant file e os provisioners que usaremos.

No commit baecd186dda4337060ad330e2203d622de9c0716 eu peguei os arquivos que o @drgomesp tinha mandado no Pull Request, retirei os comentários e subi sem muita configuração adicional.

Pessoal fera em provisioners, tanto com Puppet ou com Chef, o que vocês estão usando ( @hussani , @eher , @FabioBatSilva

[2012-10-07 10:48] FabioBatSilva commented on #14
@rogeriopradoj Tenho usado Cookbooks, a maioria desse repositório https://github.com/opscode-cookbooks

[2012-10-07 14:55] drgomesp commented on #14
@rogeriopradoj sugiro usar o Puppet, que está a frente do Chef em vários sentidos.

Como falei, meu Pull Request ficou bem básico, porque estava tentando resolver na pressa.

Mais pra frente pretendo montar algo decente, mas já pode fazer o commit disso também.

[2012-10-07 17:27] NandoKstroNet commented on #28
fantastico!! Já vejo o sucesso da ferramenta!!

[2012-10-07 23:53] rogeriopradoj commented on #14
@FabioBatSilva, valeu, cara.

@drgomesp Feito merge no develop. Acho que o próximo passo agora é montar os vhosts pelo menos, que não estão montados.

@EHER e @eminetto, sei que vocês usam Puppet, como vocês estão fazendo para configurar vhosts no Apache?

[2012-10-08 00:13] rogeriopradoj commented on #14
@drgomesp Se puder, lança para a gente umas referências dessa comparação entre o Puppet e o Chef.

Já ouvi o @EHER citando sobre a preferência dele pelo Puppet, mas era mais "filosófica" (Puppet ser mais aberto e o Chef ter a empresa Opscode controlando).

[2012-10-08 00:19] drgomesp commented on #14
Criar vhosts com o Puppet é muito fácil, na própria documentação isso fica evidenciado de forma simples.

[2012-10-09 02:53] alexsandro-xpt commented on #47
Serio mesmo que vamos trabalhar com XSL com direito a xsl:for-each e dentre outras tags úteis?

[2012-10-09 02:55] drgomesp commented on #47
Acho válido!

[2012-10-09 07:24] paulofernandesjr opened #49 "Páginas no Wiki"
Opa!
Eu fiz uma página para configurar no Windows, vocês acham isso útil?

https://github.com/iMastersDev/oportunidades/wiki/Configurando-o-Ambiente

[2012-10-09 11:57] drgomesp commented on #49
@paulofernandesjr, até acho útil, porém dispomos da ferramenta Vagrant, que facilita ainda mais a criação de um ambiente de desenvolvimento, especialmente na plataforma Windows.

Vou criar essa wiki hoje ou amanhã, explicando como subir a VM, coisa de 10 minutos, e ter um ambiente normalizado com as versões exatas necessárias de cada pacote utilizado na aplicação.

De qualquer forma, valeu pela co

[2012-10-09 14:56] rogeriopradoj commented on #49
Poxa, acho que vale os dois.

@paulofernandesjr , não quer dar uma lida http://vagrantup.com/.

Lá tem o instalador do Vagrant para windows.

[2012-10-09 16:22] netojoaobatista commented on #49
Exato @rogeriopradoj, valem os dois.

É tão importante mostrar como se configura o ambiente de desenvolvimento no Windows **sem utilizar** Vagrant, quanto é importante mostrar como se configura o ambiente utilizando o Vagrant.

Nosso Wiki deve ser rico em informações. Quanto mais informações tivermos, mais fácil será para as pessoas entenderem como as coisas são feitas, e mais fácil será para essa

[2012-10-09 21:26] EHER commented on #14
Como ficou isso? Posso ajudar com algo?

[2012-10-09 21:34] drgomesp commented on #14
@EHER não ficou, está ficando.

Estou trabalhando nos vhosts agora.

Pode sempre ajudar, claro.

Basta contribuir.

[2012-10-09 21:53] rogeriopradoj commented on #14
Olá, @EHER , tudo certo?

No nosso branch `feature-vagrant` dentro da pasta `/vagrant` está sendo feito o Puppet para `provisionar` nossa máquina dev.

Porém ainda temos algumas coisas que estão definidas no Boxfile que será usado em produção no Pagoda que ainda não estão configuradas nesse Puppet dev.

Boxfile:
`php_extensions:
    - apc
    - pdo_mysql
    - zip
    - timezonedb
    - mbstring
`

[2012-10-10 01:54] alexsandro-xpt commented on #47
XSL é show demais.

[2012-10-10 02:39] rogeriopradoj commented on #47
+1 @netojoaobatista Não vejo problema, só nunca trabalhei com isso, então vai ser um bom aprendizado.

[2012-10-10 04:30] paulofernandesjr commented on #47
XSL é coisa do demônio... sai fora... tanta coisa boa e quer usar isso

[2012-10-10 04:45] netojoaobatista commented on #47
Não gostei do "tanta coisa boa e quer usar isso", @paulofernandesjr

Penso em:
1. Tem preconceito sobre XSL
2. Não tem ideia do poder que teríamos com XSL.

Veja, porém, que o objetivo dessa Issue é discutir sobre a camada `Presentation Logic`, não sobre o uso de XSL. A Presentation Logic tem como objetivo isolar a representação de um recurso da forma como ele é gerado.

Podemos usar XSL ou qualqu

[2012-10-10 13:40] alexsandro-xpt opened #50 "Domain-Driven Design"
Assisti o dally meet onde o @drgomesp sugere em mudar o diretório DataAccess para Domain.

Vi que ninguém concordou e acredito que seja pelo fato do projeto não contemplar DDD.
A ideia de usar DDD seria interessante no inicio, mas como ja tem muita coisa pronta é totalmente inviável.

Gostaria de saber do @drgomesp se ele tinha sugerido usar de fato DDD ou simplesmente mudar a o nome do diretório

[2012-10-10 13:54] drgomesp commented on #50
Como comentei lá no 4888d10901:

[2012-10-10 14:18] paulofernandesjr opened #51 "Rodar app"
olá pessoal.

vi que o front já esta pronto.
O que esta faltando para exibir o front-end?

O que acham de criar uma lista de tarefas e começarmos a finalizar as coisas?

Abraço

[2012-10-10 14:19] drgomesp commented on #51
@paulofernandesjr, acho que ainda estamos dependendo da discussão envolvendo a presentation logic, no #47.

[2012-10-10 14:21] alexsandro-xpt commented on #50
Comentei la mas não apareceu.. estranho..

veja:

Entendo @drgomesp, mas para aplicar o conceito de domínio acredito que deveríamos trabalhar desde o inicio com DDD, usando toda metodologia e patterns como o repository patterns e serviços.

Como a gente não fez nada disto, apenas mudar a namespace por mudar não seria a mesma coisa que trocar por nada?

[2012-10-10 14:23] drgomesp commented on #50
Como comentei anteriormente, a ideia era somente dar à estrutura de namespaces um pouco mais de sentido.

[2012-10-10 14:24] drgomesp commented on #47
Eu acho muito importante definirmos e utilizarmos uma Presentation Logic.

A ideia do XSL, porém, já é outra decisão, como bem ressaltou o @netojoaobatista.

@paulofernandesjr, pode sugerir alguma alternativa ao XSL?

[2012-10-10 14:30] alexsandro-xpt commented on #50
Saquei, para quem não conhece DDD acho que faria pouco sentido.

[2012-10-10 14:31] drgomesp commented on #50
Tem razão, pode fazer pouco sentido mesmo.

Porém, a reação do pessoal ao meu comentário é que foi estranha.

O próprio Eric Evans ressalta que o domínio da aplicação é uma parcela relativamente pequena de todo o código que temos que escrever para concebê-la.

A visão do pessoal é totalmente contrária a isso.

[2012-10-10 15:29] netojoaobatista commented on #50
Durante o desenvolvimento, nos deparamos com diversos domínios:
1. Data/Storage - Nesse domínio lidamos com armazenamento de dados. Podemos utilizar, ou não, uma linguagem de domínio específico, chamada SQL, se estivermos trabalhando com uma base relacional.
2. Presentation/View - Nesse domínio lidamos com a representação de alguma coisa. Podemos utilizar, ou não, uma linguagem de domínio específi

[2012-10-10 15:44] drgomesp commented on #50
@netojoaobatista, pode ser a minha visão de `DataAccess` que seja diferente da sua, então.

Entendo por `DataAccess` uma camada que proporciona acesso a qualquer dado que esteja armazenado em um local de persistência, seja um banco de dados, um arquivo, etc. Portanto, ao meu ver, entidades nada tem a ver com `DataAccess`. Essa foi a minha preocupação quando levantei essa questão.

Imagine a seguin

[2012-10-10 16:05] alexsandro-xpt commented on #50
Fico com:

Para virar de fato um `ApplicationDomain` algumas coisas deveram ter que ser mudada por exemplo o _acoplamento_ de namespace `DataAccess` por isto concordo com a frase do @netojoaobatista.

So que é o seguinte, se amanha a gente propagar as entidades a um serviço e dependendo deste serviço sendo REST, SOAP ou outro. A namespace `DataAccess` não pareceria ou não ficaria vinculado na enti

[2012-10-10 16:17] alexsandro-xpt commented on #47
Se for pra usar todo o poder do XSL acho que não teria outra coisa melhor de recursos simples a menos que aconteçam alguns empecilhos ao usa-lo ao decorrer do projeto.

Porque XSL é poderoso demais da conta, é um _engine template_( faria grande parte deste trabalho no nosso projeto ) completo praticamente. O negocio é que aqui já usou?

Mas sobre a questão desta Issue separar a camada de apresenta

[2012-10-10 16:19] alexsandro-xpt commented on #44
Qual era o erro @paulofernandesjr ?

[2012-10-10 16:19] netojoaobatista commented on #50
Okay @drgomesp, agora estamos nos entendendo.

O fato é que aquela `Position` que está em `DataAccess` não deveria ter comportamento. Ela deveria ser um objeto sem comportamento, mas que possui identidade, para abstração do storage, de forma a permitir, por exemplo, variar de um modelo relacional, para um não relacional, que possuem armazenamentos conceitualmente diferentes.

Dessa forma, os segui

[2012-10-10 16:28] netojoaobatista commented on #47
Percebam, porém, que a `Presentation Logic` e a `Presentation GUI` são dois caras diferentes:

A `Presentation GUI` seria, mais ou menos, aquilo que o pessoal de `MVC` entende como `View`.

[2012-10-10 16:38] drgomesp commented on #50
Concordo com você, @netojoaobatista, com relação ao comportamento de `Position`. Também acho que a entidade deve representar uma `DataStructure` e ser desprovida de comportamento de negócio.

Isto, porém, não invalida a ideia de mover a `PositionEntity` para fora do namespace `DataAccess`, pelos mesmos motivos que citei anteriormente.

[2012-10-10 16:38] paulofernandesjr commented on #44
dava class not found

[2012-10-10 16:47] netojoaobatista commented on #50
Fora do `DataAccess`, @drgomesp, não haverá identidade e, portanto, não se trata de `Entity`.

Existe uma diferença conceitual entre `Entity` e `Value Object`. Fora da `Data Access`, jamais teremos identidade e a `Position` será apenas um objeto de dados do domínio.

[2012-10-13 18:34] dextervip commented on #14
Tem alguma forma fácil de subir a app para VM vagrant?

[2012-10-13 22:15] EHER commented on #14
A vantagem de ter alguma ferramente de provisionamento é garantir que os ambientes são identicos. Nesse caso, isso não é possível.

Pelo que vi, o que sabemos do Pagoda (pq é o que vamos configurar no Boxfile) é:
- versão do php
- extensions

Essa garantia é o bastante?

[2012-10-13 23:08] rogeriopradoj commented on #14
@eher acredito que nesse momento sim, a versão do php e as extensões são o suficiente.

Mas o que você sugere para que tenhamos os ambientes mais próximos?

---

Já estou pensando em criar um repositório separado apenas para a configuração do Vagrant, e talvez um outro para os provisionamentos, nesse caso o Puppet, seguindo a mesma ideia do pessoal do https://github.com/pyrocms:
- repositório do p

[2012-10-14 20:55] EHER commented on #14
Para garantir a versão do php e extensões, o composer dá conta. Ele não instala, mas reclama caso esteja diferente do que está configurado no composer.json.

Se for php 5.4 o "php -S localhost:80" deve ser o suficiente para ambiente de desenvolvimento.

O lance de ter repositório do puppet, acredito que é válido se a gente quiser usar uma AWS da vida e garantir que o ambiente de produção está igua

[2012-10-14 23:12] henriquemoody opened #52 "Daily Metting"
Pessoal, temos que agilizar nossas reuniões diárias;
- Estabelecer um horário;
- Estabelecer tempo de duração;
- Usar um token durante a reunião;
- Estabelecer/cobrar entregáveis.

Any thoughts?

[2012-10-15 01:48] rogeriopradoj commented on #52
O que seria um token?

Horário: 23h30 (sugestão do Wesley)
Duracao: 10 minutos, até 15 (sugestão do Augusto)

[2012-10-15 12:07] drgomesp commented on #52
Horário poderia ser mais cedo, não? Umas 11:00h?

[2012-10-15 12:37] netojoaobatista commented on #52
O ponto do horário, @drgomesp, é o pessoal que estuda a noite. Se for mais cedo, eles não conseguem chegar a tempo.

[2012-10-15 15:28] paulofernandesjr commented on #52
Se o tempo for respeitado.. Acho que podemos marcar para meia noite

On Mon, Oct 15, 2012 at 9:37 AM, João Batista Neto <notifications@github.com

[2012-10-15 18:09] augustohp commented on #52
**23:30** ou **00:00** por tranquilo.

@rogeriopradoj O _token_ seria a _permissão_ de falar

@paulofernandesjr O horário tem que ser respeitado. Se ultrapassamors, cabe a quem participar cobrar a brevidade dos demais. Óbvio, no começo iremos falhar; mas a medida que formos trabalhando, vamos melhorando.

[2012-10-15 18:10] augustohp commented on #51
Precisamos de documentação de como rodar e contribuir no `README.md` também...

[2012-10-15 18:12] augustohp commented on #49
Eu preferia centrar tudo no `README.md`, pra manter as informações concisas e independentes do _GitHub_. Já temos as _issues_, não queria deixar a documentação do projeto dependendo dele também sem necessidade.

Acham que o _readme_ vai fica gigantesco? Acho que a limitação é bacana porque nos força a manter ele sempre simples.

[2012-10-15 18:22] augustohp commented on #50
Vocês tem que tomar cuidado com as discussões de vocês. Existe uma distância entre _prática_ e _conceito_, `Domain Driven Development` é um conceito bem abstrato, logo concordo quando são contra classes com o nome `Domain` em qualquer parte. Pra mim soa como querer nomear uma classe com um prefixo ou sufixo `Class`. É desnecessário.

Quanto à organização das **entidades**, eu não tenho posição def

[2012-10-15 21:55] augustohp commented on #44
Qual era o erro @paulofernandesjr (qual classe estava faltando)? E como você corrigiu?

[2012-10-15 22:02] paulofernandesjr commented on #44
Eu expliquei acima o problema.
Esse erro bizarro dava não sei porque, mas eu atualizei tudo e funcionou

2012/10/15 Augusto Pascutti notifications@github.com

[2012-10-16 18:09] rogeriopradoj opened #54 "Typos em Ophportunidades\DataAccess\Entity\PositionTest"
- Mensagem de `assertEquals()` em `testSetTitleWithValidDataShouldWork()`:
  Rerturned -> Returned
- Annotation em `testSetTitleWithInvalidDataShouldThrownAnException()`:
  @expectedExpcetionMessage -> @expectedExceptionMessage
- Mensagem de `assertEquals()` em `testShouldExistsSetterForDescription()`:
  Rerturned -> Returned

[2012-10-16 18:16] #54 closed, assigned to rogeriopradoj

[2012-11-04 09:17] augustohp commented on #26
Duplicado pelo #56.

[2012-11-04 09:17] #26 closed, assigned to augustohp

[2012-11-04 09:24] augustohp commented on #36
Temos uma _Entidade_ que é praticamente um _ValueObject_, acho que precisamos alterar isso.

O @netojoaobatista já fez algum trabalho de pegar dados vindos por POST, precisamos de algumas coisas mais distintas pra conseguir um formulário operando corretamente:
- Validação
- Controllers

[2012-11-04 09:25] augustohp commented on #51
Com o `Makefile` no #56 você pode instalar as dependências usando `make install` e rodar os testes usando `make test`.

Como o @drgomesp mesmo disse, estamos discutindo as coisas na issue e aqui no github. Nada te impede de forkar o projeto, e enviar um pull request com sua sugestão.

Nossas prioridades estão todas no GitHub através das milestones de versão. Por enquanto estamos no **Sprint-1**, n

[2012-11-04 09:27] augustohp commented on #34
Acho que a solução não foi muito popular, alguém tem alguma alternativa? Temos algumas:
- Plain and old PHP
- Twig
- Respect/Template

[2012-11-04 09:34] augustohp commented on #52
Vamos fazer isso funcionar? Acho que **diário** é demais pra todo mundo, mas e uma vez por semana?
Qual dia da semana vocês preferem? Quarta é uma alternativa bacana...
- Horário: 23h30
- Duração: 20min (objetivo de fazer em 10min)

[2012-11-04 09:36] augustohp commented on #25
@fabiorphp Estou trabalhando em um branch com as coisas do Respect, mais como uma sugestão do que com o objetivo de _mergear_ esse cara pro **develop** depois.

Vamos ver o que acontece. Por hora estou fechando esta issue, fique atento por novos _branches_

[2012-11-04 09:36] #25 closed, assigned to nobody

[2012-11-04 09:41] augustohp commented on #43
@wesleyvicthor Cadê o push? Push como um branch.. sei lá.. só pra compartilhar o que você já fez mesmo. Dessa forma alguma outra pessoa consegue continua ro trampo =D

+1 pro LessCss
+1 pra versões mobile (e talvez tablet)
+1 IE9+

Eu não curto a parte de front, então não opino em relação ao `Twitter Bootstrap`, acho mais importante ter um site responsivo e com layouts desktop+mobile do que me pre

[2012-11-04 09:44] augustohp commented on #34
Ver isso #43 também.

[2012-11-04 09:45] augustohp commented on #28
Fechando a issue, o PSD já se encontra no repositório! =D

[2012-11-04 09:45] #28 closed, assigned to nobody

[2012-11-04 21:39] paulofernandesjr commented on #52
Eu prefiro as 00:00 ou 00:30

Antes disso é bem complicado.

[2012-11-05 01:17] augustohp commented on #52
00h ok pra mim.

[2012-11-05 13:17] netojoaobatista commented on #52
Escolham o dia e a hora que for melhor para vocês, que para mim estará okay.

##

João Batista Neto
Desenvolvedor engenheiro de aplicações web
1º Master Certified Professional do PayPal Brasil

2012/11/4 Augusto Pascutti notifications@github.com

[2012-11-05 13:32] augustohp commented on #52
Até que mais alguém se manifeste, (esta) quarta 00h entnao =D

[2012-11-05 13:39] drgomesp commented on #52
Eu prefiro antes da meia-noite, às 23h30m.

[2012-11-06 02:15] rogeriopradoj commented on #52
0h, 07/11/2012, é isso então?

[2012-11-06 18:11] henriquemoody commented on #52
Por mim fechou.

[2012-11-07 21:24] hussani commented on #34
+1 pro Twig.

Acho que a galera tem mais familiaridade com ele.

[2012-11-08 02:00] rogeriopradoj opened #58 "Garantir que códigos PHP sigam PSR2"
Em algum momento (não lembro a issue, ou se foi apenas no hangout) definimos que os códigos seriam PSR2 https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-2-coding-style-guide.md

Acredito que uma maneira de garantirmos isso primeiro é colocar o php_codesniffer nas nossas máquinas de desenvolvimento.

Já existem alguns componentes prontos no Packagist para isso, como o https://packa

[2012-11-08 03:19] rogeriopradoj commented on #58
Vi que não faz muito sentido fazer um fork igual fiz: melhor usar o oficial, `https://packagist.org/packages/squizlabs/php_codesniffer`

E na hora de executar o comando, definir o padrão que será usado, assim:

`$ bin/phpcs src --standard=PSR2`

Pessoal, vocês que já usam integração contínua e ferramentas do tipo: a execução dessa verificação PHPCS deveria ser verificada/garantida automaticamente

[2012-11-08 23:25] rogeriopradoj commented on #52
E aí, pessoal, vamos ter encontro hoje de noite, 08/11/2012 às 23h59, ou deixa mais para a frente?

[2012-11-09 05:25] #58 closed, assigned to nobody

[2012-11-11 14:57] drgomesp commented on #51
Vou colaborar nesse sentido assim que tiver um tempo disponível.

[2012-11-12 15:23] augustohp commented on #58
O ideal acho que é termos um target de `ci` no _Makefile_... no **phpunit.xml** só os outúts de coverage mesmo.

[2012-11-12 15:43] drgomesp commented on #58
Se utilizássemos o phing, isto estaria no `build.xml`, portanto a melhor a alternativa deve ser, na minha opinião, o `Makefile` ou o `travis.yml`

[2012-11-14 12:21] wesleyvicthor commented on #34
+1 Vanilla PHP

[2012-11-14 12:44] drgomesp commented on #34
+1 Twig

[2012-11-14 22:01] victorferreira opened #61 "Integração com o Facebook Social Jobs Partnership"
Pessoal, vi hoje que o Facebook lançou uma ferramenta de listagem de jobs. Funciona com alguns parceiros lá dos Estados Unidos, mas eu pensei que se houver uma API aberta a gente podia divulgar as nossas vagas do OPHPortunidades por lá e com isso dar uma maior visibilidade ao serviço.

http://www.facebook.com/socialjobs

[2012-11-16 16:22] henriquemoody commented on #34
+1 Vanilla PHP

[2012-11-16 16:23] henriquemoody commented on #34
Não entendo a necessidade de utilizar uma template engine, ainda mais no nosso caso, acho totalmente denecessário.

[2012-11-16 16:28] augustohp commented on #34
Acho que podemos implementar e depois decidir qual das formas é melhor, assim como o @netojoaobatista fez. Como o único código disponível é o dele, apesar da popularidade não ter sido alta ela ainda é a única alternativa.

Essa issue tem 1 mês, precisamos decidir o que fazer com ela (logo) e andar com o resto do projeto. Vamos definir uma deadline pra aparições de novas implementações?! Sugeriria

[2012-11-16 16:33] augustohp commented on #50
1 mês se comentários, to considerando essa discussão como morta e fechando esta issue.

[2012-11-16 16:33] #50 closed, assigned to drgomesp

[2012-11-16 16:35] augustohp commented on #52
Eu to desistindo das reuniões até porque as coisas estão bem complicadas pra mim também.
Acho que se mantivermos nossa comunicação aqui nas issues acabamos tendo tudo o que precisamos.

[2012-11-19 15:07] rogeriopradoj commented on #52
Beleza, Augusto.

[2012-11-19 15:07] rogeriopradoj commented on #52
Acredito que está a mesma situação para todos, então estou fechando a issue.

[2012-11-19 15:07] #52 closed, assigned to iannsp

[2012-11-19 15:09] rogeriopradoj commented on #34
Apoio o prazo (final de novembro).

[2012-11-19 23:39] henriquemoody commented on #34
+1

[2013-07-12 17:15] augustohp commented on #49
Up.

[2013-07-12 17:16] augustohp commented on #61
Sem dúvida é uma funcionalidade interessante, mas focaria nesse tipo de integração somente com a idéia e a modelagem de dados madura do nosso lado. Mas muito bom já estudar essa integração.

[2013-07-12 17:18] augustohp commented on #47
Alguém aqui ainda ta disposto a seguir com as idéias aqui discutidas? Se nenhum update for dado em 7 dias acho uma boa idéia fechar essa discussão e iniciar uma nova.

[2013-07-12 17:21] augustohp commented on #3
Deploy no [PagodaBox](https://pagodabox.com/) enquanto a aplicação ainda estiver em desevolvimento.

[2013-07-12 17:21] #3 closed, assigned to augustohp

[2013-07-12 17:24] augustohp commented on #14
Vamos dar uma prioridade pra isso pra facilitar o desenvolvimento de todo mundo e evitar problemas de ambiente e/ou configuração em diferentes ambientes. Isso vai resolver nossa vida pra caramba. A gente tem um branch `feature-vagrant` com essa _fature_ vamos **priorizar o merge** (e finalização caso necessário, já que faz quase aniversário que não olho pra esse código) desse branch no branch `dev

[2013-07-12 17:26] augustohp commented on #51
Acho que ao invés de criar instruções de como rodar e manter isso (o que é uma coisa que duvido que alguém vá fazer), vamos priorizar o uso do [Vagrant](http://vagrantup.com) e assim já aproveitamos toda a documentação dele já pronta :laughing:

Estou fechando essa issue por considerar ela uma duplicada da issue #14.

[2013-07-12 17:26] #51 closed, assigned to iannsp

[2013-07-12 18:23] rogeriopradoj commented on #14
@augustohp vou voltar a olhar tb, cara.
On Jul 12, 2013 2:25 PM, "Augusto Pascutti" notifications@github.com
wrote:

[2013-07-12 20:31] diegoholiveira commented on #14
Galera, eu tenho uma box do debian7 + php5.5 que pode facilitar bastante. Se vocês quiserem, posso providenciar o setup com o Vagrantfile + puppet. O que acham? Ou é melhor usar o php5.4?

[2013-07-12 20:53] victorferreira commented on #49
acho que vamos de 'README.md'  mesmo.

[2013-07-12 21:30] rogeriopradoj commented on #14
Olá, @diegoholiveira. Minha opinião: deveríamos usar alguma box oficial do Vagrant e, em cima dela, fazer o provisionamento que for melhor (Puppet, Chef, shell script, qualquer coisa :-) ).

Na página oficial, eles só tem Ubuntus LTS lá, https://github.com/mitchellh/vagrant/wiki/Available-Vagrant-Boxes, mas acho que vale a pena (para não termos que dependermos de hospedagem para isso).

Sobre o Pu

[2013-07-13 01:07] augustohp commented on #14
+1 pra um Ubuntu LTS
+1 Pro PuPHPet
+1 pra box de 32bits (melhorar compatibilidade pra todo mundo.. vai que né...)

Versão de PHP no PagodaBox a última é a  5.4.14. :unamused:

Eu vou ver se normalizo o **develop** e o **master** pra gente já poder fazer o `Vagrantfile` e os `manifests` certinhos e testa eles direitinho. Pra isso queria que vocês desse um feedback na issue #57 também.

[2013-07-13 01:11] hussani commented on #14
+1 Ubuntu LTS
+1 PuPHPet

Trabalhamos com 5.4.x mesmo.
Quando ficar disponível no PagodaBox uma nova versão podemos atualizar.

[2013-07-13 01:14] augustohp commented on #49
Perfeito. Odeio documentação presa em vários lugares... ainda mais indisponível offline. :palm_tree:

[2013-07-13 01:14] #49 closed, assigned to nobody

[2017-12-28 03:19] #61 closed